/* This is for the "about" page */



div.tracktlists-index, div.user-detail-1{
	margin-left:20vmin;
	margin-right:1vmin;
	margin-top:180px;
  bottom:0;
}


div.site-info{
	z-index:9999;
	padding:20px;
}
.site-info p{
	font-size:16px;
	color: #343335;
	font-weight:400;
	word-break: normal;
  white-space: normal;
}

.about-header{
	color:#6a3afc;
  font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	margin:1em 0em;
}

.head-shot{
	float:left;
	height:14vmax;
	margin-right:30px;
	width:auto;
	filter: invert(0%)
}

.about-text{
	line-height:1.2;
	margin-bottom:30px;
}