/* This is for the "about" page */



.tracktlists-index, div.tracktlist-form, div.tracktlist-detail, .user-detail-container{
	margin-left:20vmin;
	margin-right:10vmin;
	margin-top:220px;
}

div.site-info{
	z-index:9999;
}
.site-info p{
	color:#282728;
	font-size:1.5vmax;
}

.about-header{
	color:#282728;
	/*text-shadow: 0px 1px 5px #330d9b;*/
	font-size: 2vmax;
	margin:20px 0px;
/*		text-shadow: rgb(20, 144, 120) 1px 1px,
	rgb(20, 144, 120) 1px 1px,
    rgb(107, 90, 147) 2px 2px,
    rgb(107, 91, 148) 3px 3px,
    rgb(107, 92, 149) 4px 4px;*/
}

.head-shot{
	float:left;
	height:14vmax;
	margin-right:30px;
	width:auto;
	filter: invert(0%)
}

/*.about-text{
	font-size:3vmax;
}*/