/* This is for the "about" page */

div.tracktlist-form, .tracktlist-detail, .user-detail, .site-info{
	display:block;
	margin:0px 200px;
	width:700px;
	height:400px;
	padding:30px;
}
.site-info p{
	color:white;
	font-size:18px;
}

.user-header, .about-header{
	color:white;
	/*text-shadow: 0px 1px 5px #330d9b;*/
	font-size: 40px;
	margin:20px 0px;
/*		text-shadow: rgb(20, 144, 120) 1px 1px,
	rgb(20, 144, 120) 1px 1px,
    rgb(107, 90, 147) 2px 2px,
    rgb(107, 91, 148) 3px 3px,
    rgb(107, 92, 149) 4px 4px;*/
}

.head-shot{
	float:left;
	height:200px;
	margin-right:30px;
	width:auto;
	filter: invert(0%)
}