/* This is for the "about" page */



div.tracktlists-index, div.tracktlist-form, div.user-detail-1{
	margin-left:20vmin;
	margin-right:10vmin;
	margin-top:220px;
  bottom:0;
}


div.site-info{
	z-index:9999;
}
.site-info p{
	color:#282728;
	font-size:1.3vmax;
	word-break: normal;
  white-space: normal;
}

.about-header{
	color:#282728;
	/*text-shadow: 0px 1px 5px #330d9b;*/
	font-size: 2vmax;
	margin:20px 0px;
/*		text-shadow: rgb(20, 144, 120) 1px 1px,
	rgb(20, 144, 120) 1px 1px,
    rgb(107, 90, 147) 2px 2px,
    rgb(107, 91, 148) 3px 3px,
    rgb(107, 92, 149) 4px 4px;*/
}

.head-shot{
	float:left;
	height:14vmax;
	margin-right:30px;
	width:auto;
	filter: invert(0%)
}

.about-text{
	line-height:1.2;
	margin-bottom:30px;
}