/* This is for the "about" page */

.user-detail, .site-info{
	display:block;
	margin:0px 200px;
	width:650px;
	height:400px;
	padding:30px;
}
.site-info p{
	color:white;
	font-size:18px;
}

.user-header, .about-header{
	color:white;
	/*text-shadow: 0px 1px 5px #330d9b;*/
	font-size:40px;
	margin:20px 0px;
}

.head-shot{
	float:left;
	height:200px;
	margin-right:30px;
	width:auto;
	filter: invert(0%)
}