  .tracktlists-index-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  list-style-type: none;
	  justify-content: space-between;
	  width: 100%;
	  top:30;
  }

/*
 .explore{
 	text-align:center;
 }*/


.telescope-logo{
	height:5vmax;
	width:auto;
	float:left;
}
.thumb-image{
/*	width:200px;
	height:180px;*/
	background-position: center center;
}

.index-image-container{
	border-radius:4px;
	overflow: hidden;
	width:200px;
	height:180px;
  margin-bottom: 30px;
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.58);
}

.track-index-text{
	padding-top:10px;
	color:white;
	background-image: -ms-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B28AF7), color-stop(100, #AECADE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* W3C Markup */ 
background-image: linear-gradient(to top, #B28AF7 0%, #AECADE 100%);
	font-size:25px;
	line-height: 75%;
  position: absolute;
  height: 30%;
  width: 200px;
  bottom: 0;
  margin-bottom:30px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.track-author{
	font-style: italic
	font-size:15px;
	color: rgba(255, 255, 255, 0.8)
	background:none;
}

/*.track-index-text{
	position:absolute;
	bottom:0;
	width:200px;
}*/