  .tracktlists-index-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  list-style-type: none;
	  justify-content: space-between;
	  width: 100%;
  }

  img.wordmark-logo{
  	/*top:5%;*/
  	height:90px;
  	/*position:relative;*/
  	display:inline-block;
	  float:left;
	    margin:40px 20px 0px 30px;
  }

  .explore{
		display:inline-block;
		float:left;
		font-size:6vmax;
		text-align:center;
		margin-top:0px;
		margin-bottom:40px;
		font-weight:bold;
		color: white;
		width:100%;
		left:0;
		right:0;
		padding-bottom:40px;
		padding-top:40px;
		background: #d623fe;
		text-shadow:
		rgb(107, 90, 147) 1px 1px,
		rgb(107, 90, 147) 2px 2px,
		rgb(107, 90, 147) 3px 3px,
		rgb(86, 53, 174) 4px 4px, 
		rgb(86, 54, 175) 5px 5px,
		rgb(86, 54, 175) 6px 6px,
		rgb(86, 54, 175) 7px 7px; 
		font-weight: bold;
		/*margin-left:25%;*/
  }


.binoculars-logo{
	height:3.2vmax;
	margin-left:5px;
	/*top:30;*/
	/*margin-top:60px;*/
	width:auto;
	display:inline-block;
}
.thumb-image{
/*	width:200px;
	height:180px;*/
	background-position: center center;
	height:200px;
	width:auto;
}

.index-image-container{
	/*border-radius:4px;*/
	overflow: hidden;
	width:200px;
	height:180px;
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.58);
	overflow:hidden;
}

.entire-item{
	/*overflow:hidden;*/
	transition: all 0.2s ease;
  margin-bottom: 60px;
  width:200px;
	border:2px solid #6F3E91;
	border-radius:4px;
}
.entire-item:hover{
	/*font-size: 1.05em;*/
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  	/*overflow:hidden;*/

  -webkit-filter: brightness(80%);
}

.track-index-text{
	padding-bottom:10px;
	padding-top:10px;
	color:white;


background: #DA22FF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        	font-size:1.3em;
	line-height: 20px;
  position: absolute;
  /*bottom:0;*/
  /*postion:relative;*/
  width: 200px;
  margin-top:-40px;
  /*margin-bottom:0px;*/
/*  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;*/
  /*border-bottom: 2px solid #545252;*/
}

.track-author{
	font-style: italic
	font-size:15px;
	color: rgba(255, 255, 255, 0.8)
	background:none;
}

/*.track-index-text{
	position:absolute;
	bottom:0;
	width:200px;
}*/