#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(126, 93, 237);
    box-shadow:
    rgba(123, 155, 242, 0.5) 1px 1px,
    rgba(123, 155, 242, 0.4) 2px 2px,
    rgba(123, 155, 242, 0.3) 2px 2px,
    rgba(123, 155, 242, 0.2) 2px 2px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:3000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:3001;
}
#return-to-top:hover {
    background: #fff;
}
#return-to-top:hover i {
    color: rgb(126, 93, 237);
    top: 5px;
}


  .tracktlists-index-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  list-style-type: none;
	  justify-content: space-between;
	  width: 100%;
    min-height:100vh;
  }

.whole-index-page{
	  top:0%;
	  left:0%;
	  right:0%;
}

  img.wordmark-logo{
  	height:70px;
  	display:inline-block;
	  float:left;
    margin:20px 20px 0px 30px;
  }

  img.wordmark-logo:hover{
	  animation: hover 0.8s infinite;
  }

  @keyframes hover {
  0%, 100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
}  

@keyframes hovery {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.7;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-4px);
    opacity:1.0;
    animation-timing-function: ease-in;
  }
}

  .explore{
		display:inline-block;
		float:left;
		font-size:40px;
		text-align:center;
		margin-top:0px;
		margin-bottom:40px;
		font-weight:bold;
		color: white;
		width:100%;
		left:0;
		right:0;
		padding:60px 0px;
			text-shadow:
		rgb(107, 90, 147) 1px 1px,
		rgb(107, 90, 147) 2px 2px,
		rgb(107, 90, 147) 3px 3px,
		rgb(86, 53, 174) 4px 4px, 
		rgb(86, 54, 175) 5px 5px,
		rgb(86, 54, 175) 6px 6px,
		rgb(86, 54, 175) 7px 7px; 
		font-weight: 900;
		  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 50s ease infinite;
  -moz-animation: GradientAnimation 50s ease infinite;
  animation: GradientAnimation 50s ease infinite;
}
  
    
    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}
  

.binoculars-logo{
	height:40px;
	margin-left:5px;
	width:auto;
	display:inline-block;
}
.thumb-image{
	background-position: center center;
  /*border: 1px solid rgba(126, 93, 237,0.2);*/
	height:140px;
	width:auto;
}

.index-image-container{
  padding:20px;
	width:140px;
	height:140px;
	overflow:hidden;
}

.entire-item{
	/*overflow:hidden;*/
  background:white;
  display:flex;
  flex-direction:row;
	transition: all 0.2s ease;
  margin-bottom: 60px;
  width:400px;
  border-radius:3px;
	border:1px solid #949496;
  box-shadow: 2px 2px 15px 0px rgba(126, 93, 237, 0.8);
}
.entire-item:hover{
	/*font-size: 1.05em;*/
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  	/*overflow:hidden;*/
}


/*Index item text */

  .index-right{
    margin:20px 5px;
    width:180px;
    float:left;
    display:block;
    padding-left:10px;
      /*border-bottom: 0.5px solid rgb(126, 93, 237);*/
  }

.track-index-title{
	font-size:24px;
  padding-bottom:15px;
  opacity:0.8;
  font-weight:900;
  float:left;
  color:#333333;
	line-height: 20px;
  width: 200px;
  height:auto;
  word-wrap: break-word;
  /*word-spacing:4px;*/
  /*border-bottom: 0.5px solid rgb(126, 93, 237);*/
}

.index-text{
  font-size:14px;
  color: #666464;
}

.creator-name{
  padding-top:10px;
  font-style: italic;
}

.artists{
  font-weight:600;
  float:left;
  line-height: 18px;
  font-size:16px;
  width: 200px;
  height:auto;
  color: rgb(126, 93, 237);
  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;
}

