  .tracktlists-index-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  list-style-type: none;
	  justify-content: space-between;
	  width: 100%;
  }

.whole-index-page{
	  top:0%;
	  left:0%;
	  right:0%;
}

  img.wordmark-logo{
  	height:70px;
  	display:inline-block;
	  float:left;
    margin:20px 20px 0px 30px;
  }

  img.wordmark-logo:hover{
	  animation: hover 0.8s infinite;
  }

  @keyframes hover {
  0%, 100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
}  

@keyframes hovery {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.7;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-4px);
    opacity:1.0;
    animation-timing-function: ease-in;
  }
}

  .explore{
		display:inline-block;
		float:left;
		font-size:40px;
		text-align:center;
		margin-top:0px;
		margin-bottom:40px;
		font-weight:bold;
		color: white;
		width:100%;
		left:0;
		right:0;
		padding:60px 0px;
			text-shadow:
		rgb(107, 90, 147) 1px 1px,
		rgb(107, 90, 147) 2px 2px,
		rgb(107, 90, 147) 3px 3px,
		rgb(86, 53, 174) 4px 4px, 
		rgb(86, 54, 175) 5px 5px,
		rgb(86, 54, 175) 6px 6px,
		rgb(86, 54, 175) 7px 7px; 
		font-weight: 900;
		  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 50s ease infinite;
  -moz-animation: GradientAnimation 50s ease infinite;
  animation: GradientAnimation 50s ease infinite;
}
  
    
    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}
  

.binoculars-logo{
	height:40px;
	margin-left:5px;
	width:auto;
	display:inline-block;
}
.thumb-image{
	background-position: center center;
	height:200px;
	width:auto;
}

.index-image-container{
	/*border-radius:4px;*/
	width:200px;
	height:180px;
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.58);
	overflow:hidden;
}

.entire-item{
	/*overflow:hidden;*/
	transition: all 0.2s ease;
  margin-bottom: 60px;
  width:200px;
	border:2px solid #949496;
	border-radius:4px;
}
.entire-item:hover{
	/*font-size: 1.05em;*/
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  	/*overflow:hidden;*/

  -webkit-filter: brightness(80%);
}

.track-index-text{
	padding-bottom:10px;
	padding-top:10px;
	color:white;
	background: #DA22FF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #DA22FF , #9733EE);  Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size:1.3em;
	line-height: 20px;
  position: absolute;
  /*bottom:0;*/
  /*postion:relative;*/
  width: 200px;
  margin-top:-40px;
  /*margin-bottom:0px;*/
/*  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;*/
  /*border-bottom: 2px solid #545252;*/
}

.track-author{
	font-style: italic;
	font-size:15px;
	color: rgba(255, 255, 255, 0.8);
	background:none;
}
