.carousel-container {
  margin-right:30px;
  width: 70%;
  display:block;
  overflow:hidden;
  color: #3e3b47;
  display:block;
}

.carousel-element{
  height:480px;
}

.carousel-element img {
  margin-top:10%;
  width:70%;
  box-shadow: 2px 2px 15px 0px rgba(96, 104, 247, 0.4);
  border-radius:3px;
  border: 1px solid rgba(106, 58, 252,0.6);
  height:auto;
  margin-left:15%;
  z-index:10;
}

.carousel-image{
	height:100%;
	width:auto;
}

.slick-next, .slick-prev{
  z-index:3000;
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}

.slick-next:hover, .slick-prev:hover{
  filter:brightness(120%);
}

.slick-next:before{
  right:60px;
  top:20%;
}

.slick-prev:before {
  left:60px;
  top:20%;
}

.slick-prev:before, .slick-next:before{
  position:absolute;
  cursor:pointer;
  opacity:1.0;
  z-index:3000;
  font-size:60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(106, 58, 252,0.6);
 -webkit-filter: drop-shadow(2px 2px 2px rgba(96, 104, 247, 0.7) );
 filter: drop-shadow(2px 2px 2px rgba(96, 104, 247, 0.7) );
  color: #6a3afc;
}


.slick-dots {
  display:none;
}

.subtagline{
  display:block;
  color: #3e3b47;
 font-size:1.3em;
  position:absolute;
  margin-left:400px;
  display:inline-block;
  margin-top:400px;
  font-weight:600;
}