.carousel-container {
  /*margin-bottom:150px;*/
  margin-top:50px;
  top:-60px;
  width: 950px;
  display:block;
  height:500px;
  overflow:hidden;
  color: #333;
  display:block;
  /*margin-left:50px;*/
  z-index:1;
/*  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);*/
  /*border-bottom:5px solid white;*/
}

.carousel-element{
  height:480px;
}

.carousel-element img {
  width:60%;
  border: 1px solid white;
  box-shadow: 2px 2px 15px 0px rgba(126, 93, 237, 0.8);
  border-radius:3px;
  height:auto;
  opacity:0.9;
  margin-top:150px;
  margin-left:210px;
}

.carousel-image{
	height:100%;
	width:auto;
}


.slick-next:before{
	font-size:40px;
	position:absolute;
  right:100px;
  z-index:300;
  cursor:pointer;
}

button.slick-arrow.slick-next {
  z-index:300;
  font-size:40px;
  cursor:pointer;
}


button.slick-arrow.slick-prev{
 z-index:300;
 cursor:pointer;
 left:50px;
}



.slick-prev:before, .slick-next:before{
  font-size:40px;
}


.slick-prev:before {
  font-size:40px;
  z-index:300;
  left:50px;
  cursor:pointer;
  position:absolute;
}


.slick-dots {
  position: absolute;
  bottom: 15px;
  /*right:25px;*/
}

.subtagline{
  display:block;
  color:rgba(255, 255, 255, 1.0);
 font-size:28px;
  position:absolute;
  margin-left:380px;
  display:inline-block;
  margin-top:400px;
  font-weight:600;
}