.footer{
  position: absolute;
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.3);
  padding: 1rem;
  background-color: white;
  display:block;
  bottom: 0;
  white-space: nowrap;
  word-wrap:break-word
  margin-top:0px;
}

.index-footer{
  /*display:block;*/
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.3);
  /*margin-top:30px;*/
  padding: 1rem;
  background-color: white;
  display:block;
  z-index:50;
  bottom: 0;
}

.form-footer{
  position:relative;
  display:block;
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.3);
  /*margin-top:30px;*/
  padding: 1rem;
  background-color: white;
  display:block;
  z-index:50;
  bottom: 0;
}

.column-divs{
  margin-left:60px;
}

.column-div{
  vertical-align:top;
/*  width:140px;
  margin-left:20px;*/
  display:inline-block;
}

.column-header{
  font-weight:600;
  font-size:16px;
  color: #c61aed;
}

.link-list li{
  cursor:pointer;
  line-height:35px;
}

.link-list li:hover{
  color: #eca6fc;
}

.wordmark-logo-footer{
  height:70px;
  /*position:relative;*/
  padding-right:50px;
  display:inline-block;
  float:left;
  margin-top:40px;
}