.footer{
  position: absolute;
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: white;
  display:block;
  bottom: 0;

  white-space: nowrap;
  word-wrap:break-word
  margin-top:0px;
  margin:0 auto;
}

.index-footer{
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: white;
  display:block;
  z-index:50;
  bottom: 0;
}

.form-footer{
  position:relative;
  display:block;
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: white;
  display:block;
  z-index:50;
  bottom: 0;
}

.column-divs{
  margin-left:60px;
}

.column-div{
  vertical-align:top;
  margin-left:50px;*/
  display:inline-block;
}

.column-header{
  font-weight:600;
  font-size:16px;
  color: #c61aed;
}

.link-list li{
  font-size:14px;
  cursor:pointer;
  line-height:35px;
}



.wordmark-logo-footer{
  height:70px;
  padding-right:50px;
  display:inline-block;
  float:left;
  margin-top:40px;
}