.hamburger-dropdown{ 
  display:none;
}

@media all and (max-width: 1020px){
/* the regular nav bar disappears at this max width*/


.tracktlist-info{
	width:140vh !important;
	margin-top:10vh;
}

	ul.sidebar{ 
		display:none;
		flex-direction:column;
	}

	ul.fullscreen-sidebar{
		display:none;
	}

	img.wordmark-logo{
		visibility:hidden;
	}
	  .hamburger-dropdown {
    display: block;
    position: fixed;
    display:flex;
    flex-direction: column;
    margin-left:20px;
    margin-top:20px;
  }


    .hamburger-dropdown > li{
      top:10px;
      left:10px;
    background-image: url("http://res.cloudinary.com/liuffy/image/upload/v1491922118/menu_yjc2nn.svg");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    position:relative;
    cursor: pointer;
  }


  .hamburger-dropdown ul{
    animation-name: fadeIn;
    animation-duration: 0.5s;
    margin-top: 70px;
    padding-top:40px;
    width:240px;
    right:100px; /* this is relative to the hamburger dropdown icon*/
    cursor: pointer;
    list-style:none;
    border-left:3px solid #fff;
   	border-bottom:3px solid #fff;
  }

  .hamburger-dropdown:hover ul{
    display:flex;
    background: #B8B8DB;
  }

  .ham{
  	font-size:16px !important;
  	font-weight:600;
    border-radius:0px !important;
		color: rgb(126, 93, 237) !important;
		text-shadow:
		rgba(123, 155, 242, 0.3) 1px 1px !important;
		padding:10px 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top:0px !important;
		margin-bottom:2px !important;
		border-bottom: 1px solid rgba(126, 93, 237, 0) !important;
  }
  .create-modal-button{
    animation: none !important;
    width:100%;
    margin:0px;
  }

  .active-button-side{
    font-weight:bold;
    color: #d623fe;
  }


}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .splash-text{
    width:80% !important;
  }
  .whole-page{
  padding-left:0em !important;
  min-height:45vh;
  }

  .tracktlist-info{
  width:140vh !important;
  margin-top:10vh;
}

  ul.sidebar{ 
    display:none;
    flex-direction:column;
  }

  ul.fullscreen-sidebar{
    display:none;
  }

  img.wordmark-logo{
    visibility:hidden;
  }
    .hamburger-dropdown {
    display: block;
    position: fixed;
    display:flex;
    flex-direction: column;
    margin-left:0px;
    margin-top:0px;
  }

  .hamburger-dropdown > li{
    background-image: url("http://res.cloudinary.com/liuffy/image/upload/v1491922118/menu_yjc2nn.svg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    position:relative;
    cursor: pointer;
  }



  .hamburger-dropdown ul{
    margin-top: 90px;
    padding-top:40px;
    width:340px;
    right:100px; /* this is relative to the hamburger dropdown icon*/
    /* display flex children as a single column*/
    cursor: pointer;
    list-style:none;
    border-left:3px solid #fff;
    border-bottom:3px solid #fff;
  }

  .hamburger-dropdown:hover ul{
    display:flex;
    background: #B8B8DB;
  }

  .ham{
    font-size:42px !important;
    font-weight:600;
    color: rgb(126, 93, 237) !important;
    text-shadow:
    rgba(123, 155, 242, 0.3) 1px 1px !important;
      padding:30px 70px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top:0px !important;
    margin-bottom:2px !important;
    border-bottom: 1px solid rgba(126, 93, 237, 0) !important;
  }

  .search-bar{
    margin-left:170px !important;
    margin-top:40px !important;
    padding-left:70px !important;
    height:50px !important;
    font-size:30px !important;
    width:400px !important;
  }

  .clear-button{
    margin-left:190px !important;
    margin-top:40px !important;
    font-size:60px !important;
  }
  .text-blurb{
    top:490px !important;
  }

  span.greeting, .logout-text{
    margin-left:20px !important;
    margin-top:80px !important;
    font-size:28px;
  }

  div.entire-item{
    transform:scale(1.5);
    margin:80px !important;
  }
}




