
/*.modal{
	width:80%;
}*/
.left-side, .right-side{
  width:200px;
  /*border:1px solid black;*/
  float:left;
}

.left-side{
  width:150px;
}
.right-side{
  width:300px;
  line-height:1.5;
  padding-top:10px;
}

p.numbering{
  position:relative;
  font-weight:bold;
  color: #d623fe;
  fony-size:12px;
}
