 
body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, iframe, label, input, textarea,
span, article, footer, time, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
}

ul {
 list-style: none;
}

img {
 display: block;
 /*width: 100%f;*/
 height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

 -webkit-appearance: none;
 -moz-appearance: none;
}

button,
input[type="submit"] {
 cursor: pointer;
}

/* Clearfix */

.cf:after {
 content: "";
 display: block;
 clear: both;
}

h4{
	font-size:24px;
	color:#4b826e;
}
h3{
	font-size:32px;
	color:#4b826e;
}

h2{
	font-size:40px;
	color:#4b826e;
}

p{
	color:white;
}