input.form-control{
	color:white;
	font-size:16px;
}

.form-control{
	letter-spacing:1px;
	/*border:1px solid #5B3DA8;*/
	margin: 75px 0px 0px 20px;
	padding: 6px 5px;
	width:70%;
	transition: all 0.2s ease 0s;
	border-top: 0px solid white;
	border-left: 0px solid white;
	border-right: 0px solid white;
	border-bottom: 2px solid white;
	position:fixed;
}


input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
input.form-control::-ms-input-placeholder { /* IE 10+ */
  color: white;
}
input.form-control::-moz-placeholder { /* Firefox 18- */
  color: white;
}
