
.session-form{
	color:#77AF9C;
	position: relative;
	padding:0px 0px 20px 50px;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.session-form-header{
  font-size:24px;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
  color:#7e3bf9 !important;
  margin:50px 0px 50px 60px;
}

.splash-button.demo{
  color: white;
  background:#d623fe;
   animation: hover 0.8s infinite;
  animation-iteration-count: 3;
}

.submit{
  border: 2px solid #ce25fc;
  width:90%;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 4px;
  font-size:20px;
  padding:2px 15px;
  /*margin:50px 20px 5px 20px;*/
  transition: all 0.2s ease 0s;
  border:2px solid #ce25fc;
  color: #ce25fc;
  transition: all 0.2s ease 0s;
}

.submit:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}

.disabled-submit{
  background:gray;
  cursor:not-allowed;
}

.modal-image{
  height:80px;
  width:auto;
  position:relative;
  display:inline-block;
}


