.exit-button{
  z-index:2000;
  position:absolute;
  font-size:40px;
  top:-30px;
  right:-25px;
  color:white;
  transition: all 0.2s ease 0s;
}

.exit-button:hover{
  opacity:0.4;
  cursor:pointer;
}

.session-form{
	color:#77AF9C;
	position: relative;
/*  display: flex;
  align-items:center;
  flex-direction:column*/
	padding:0px 0px 20px 50px;
	/*border-radius:5px;*/
  /*box-shadow: 0.5px 0.5px 3px 0px rgba(0,0,0,0.48);*/
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.session-form-header{
  font-size:24px;
  font-weight:bold;
  color:#5b3da8;
  margin:30px 0px 50px 100px;
}

/*.demo-button, .session-button{
	background: #149078;
	color: white;
	font-size:2vmax;
	border-radius: 5px;
	padding:6px 30px;
	margin:10px;
}
*/
.splash-button.demo{
  color: #361575;
  background:white;
 animation: hover 0.8s infinite;
  animation-iteration-count: 3;
  border: 2px solid #361575;
}

.submit{
  border: 2px solid #ce25fc;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 4px;
  font-size:20px;
  padding:2px 15px;
  margin:50px 20px 5px 20px;
  transition: all 0.2s ease 0s;
  border:2px solid #ce25fc;
  color: #ce25fc;
  transition: all 0.2s ease 0s;
}

.submit:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}

.disabled-submit{
  background:gray;
  cursor:not-allowed;
}

.modal-image{
  height:80px;
  width:auto;
  position:relative;
  display:inline-block;
}


