.exit-button{
  position:absolute;
  font-size:50px;
  top:-45px;
  right:-25px;
  color:white;
}

.exit-button:hover{
  color:#ae7cba;
  cursor:pointer;
}

.session-form{
	color:#77AF9C;
	position: relative;
	padding:0px 0px 20px 50px;
	/*border-radius:5px;*/
  /*box-shadow: 0.5px 0.5px 3px 0px rgba(0,0,0,0.48);*/
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.session-form-header{
  font-size:24px;
  font-weight:bold;
  color:#5b3da8;
  margin:30px 0px 50px;
}

.demo-button, .session-button{
	background: #149078;
	color: white;
	font-size:2vmax;
	border-radius: 5px;
	padding:6px 30px;
	margin:10px;
}

.error-icon{
  height:1.5vmax;
  width:auto;
  padding-right:15px;
  float:left;
  margin-left:-20px;
  /*position:relative;*/
}


.splash-button.demo:hover{
  border: 2px solid white;
  color:white;
  font-weight:bold;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px 3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px 1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7),
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      1px 1px 0 hsla(256, 53%, 45%, 0.7)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -1px 1px 0 hsla(256, 53%, 45%, 0.7),
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      1px -1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      1px 1px 0 hsla(257, 51%, 48%, 0.7),
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px 1px 0 hsla(257, 51%, 48%, 0.7);
  }  
}


.splash-button.demo{
  color: #5b3da8;
  border: 2px solid #5b3da8;
}

.submit{
  border: 2px solid #ce25fc;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 4px;
  font-size:20px;
  padding:2px 15px;
  margin:50px 20px 5px 20px;
  transition: all 0.2s ease 0s;
  border:2px solid #ce25fc;
  color: #ce25fc;
  transition: all 0.2s ease 0s;
}

.submit:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}

.disabled-submit{
  background:gray;
  cursor:not-allowed;
}

.modal-image{
  height:80px;
  width:auto;
  position:relative;
  display:inline-block;
}


