div.sidebar{
	display:flex;
	flex-direction: column;
	width:100px;
	height:300px;
	display:block;
	position:relative;
  margin:180px 0px 20px 0px;
  width:200px;
  z-index:23;
  /*background:black;*/
}


.sidebar-button{
	width:60px;
	/*border: 2px solid rgb(107, 90, 147);*/
	border: 3px solid rgb(84, 82, 82);
	/*border: 2px solid #6b5a93;*/
	/*background:white;*/
	/*color: #6b5a93;*/
	color:rgb(84, 82, 82);
	display:inline-block;
	border-radius: 3px;
	font-size:16px;
	padding:4px 15px;
	margin:40px 50px 5px 40px;
	transition: all 0.2s ease 0s;
	box-shadow: 
	rgb(84, 82, 82) 1px 1px,
	rgb(84, 82, 82) 2px 2px,
	rgb(84, 82, 82) 3px 3px,
	rgb(84, 82, 82) 4px 4px,
	rgb(84, 82, 82) 5px 5px,
	rgb(84, 82, 82) 6px 6px;
}

.sidebar-button:hover{
		/*border: 2px solid #3f827a;*/
	/*background:white;*/
	background:rgb(84, 82, 82);
	color: white;
	box-shadow: 
	rgb(84, 82, 82) 0px 0px;
}

.active-button{
	background:rgb(84, 82, 82);
	color: white;
	box-shadow: 
	rgb(84, 82, 82) 0px 0px;
}

