div.sidebar{
	margin-top:70px;
	margin-left:10px;
/*	display:flex;
	flex-direction:column;*/
	/*left:0;*/
/*	display:block;
	float:left;*/
/*	position:relative;
	margin-left:10px;
	margin-top:10px;*/
/*	display:flex;
	flex-direction: column;
	width:100px;
	height:300px;
	display:block;
	position:relative;
  margin:180px 0px 20px 0px;
  width:200px;
  z-index:23;*/
  /*background:black;*/
}

.sidebar-button{
  /*background: rgba(255,255,255,0.8);*/
  width:150px;
  /*border: 2px solid rgb(107, 90, 147);*/
  border: 2px solid white;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 4px;
  font-size:20px;
  padding:2px 15px;
  margin:50px 20px 5px 20px;
  transition: all 0.2s ease 0s;
}

.sidebar-button:hover{
  color: #3b3b3d;
  border: 2px solid #3b3b3d;
  box-shadow: #3b3b3d 0px 0px;
}

.active-button-side{
	font-weight:bold;
	border:2px solid rgb(84, 82, 82);
	color: rgb(84, 82, 82);
	background: rgba(255,255,255,0.4);
}

