.sidebar{
	display:flex;
	flex-direction: column;
	width:100px;
	height:300px;
	display:block;
	display:block;
	position:absolute;
  margin:180px 0px 20px 0px;
  z-index:3;
  width:200px;
}


.sidebar-button{
	width:60px;
	/*border: 2px solid rgb(107, 90, 147);*/
	border: 2px solid rgb(177, 158, 239);
	/*border: 2px solid #6b5a93;*/
	/*background:white;*/
	/*color: #6b5a93;*/
	color:#9480d6;
	display:inline-block;
	border-radius: 10px;
	font-size:20px;
	padding:4px 20px;
	margin:32px 50px 5px 40px;
	transition: all 0.2s ease 0s;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.48);
}

.sidebar-button:hover{
		/*border: 2px solid #3f827a;*/
	/*background:white;*/
	box-shadow: 
	rgb(177, 158, 239) 1px 1px,
	rgb(177, 158, 239) 2px 2px,
	rgb(177, 158, 239) 3px 3px,
	rgb(177, 158, 239) 4px 4px,
	rgb(177, 158, 239) 5px 5px,
	rgb(177, 158, 239) 6px 6px;
}

.active-button{
	color:white;
	background:rgb(177, 158, 239);
}

.active-button:hover{
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.48)
}
