div.sidebar{
	margin-top:36px;
	margin-left:0px;
}

.create-modal-button{
  animation: hovery 0.8s infinite;
  animation-iteration-count: 3;
  width:100%;
  margin:0px;
  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;
}

.create-modal-button:hover{
  animation: hovery 0.8s infinite;
}

.sidebar-button{
    text-shadow:
  rgba(123, 155, 242, 0.7) 1px 1px;
  width:200px;
  height:31px;
  border-bottom:3px solid white;
  color:white;
  text-align:center;
  display:inline-block;
  /*border-radius: 4px;*/
  font-size:20px;
  float:left;
  margin:40px 0px 5px 0px;
  transition: all 0.2s ease 0s;
}

.sidebar-button:hover{
  background:rgba(255,255,255,0.3);
}

.active-button-side{
	font-weight:600;
	border-bottom:3px solid #361575;
	color: #361575;
	/*background: rgba(255,255,255,0.4);*/
}



.logout-button{
  color:white;
  display:inline-block;
  font-size:15px;
  float:left;
  padding:2px 0px;
  font-weight:900;
  margin:25px 30px 5px 0px;
}

.logout-button:hover{
  border-bottom: 3px solid #626665;
}
