div.sidebar{
	margin-top:35px;
	margin-left:0px;
}

.create-modal-button{
  animation: hovery 0.8s infinite;
  animation-iteration-count: 3;
  width:100%;
}

.create-modal-button:hover{
  animation: hovery 0.8s infinite;
}

.sidebar-button{
  width:200px;
  border-bottom:3px solid white;
  color:white;
  text-align:center;
  display:inline-block;
  /*border-radius: 4px;*/
  font-size:20px;
  padding:2px;
  margin:40px 0px 5px 0px;
  transition: all 0.2s ease 0s;

}

.sidebar-button:hover{
  background:rgba(255,255,255,0.3);
}

.active-button-side{
	font-weight:bold;
	border-bottom:3px solid #361575;
	color: #361575;
	/*background: rgba(255,255,255,0.4);*/
}



.logout-button{
  /*border: 2px solid #6b5a93;*/
  /*background:white;*/
  /*color: rgb(90, 87, 119);*/
  color:#dadada;
  /*border: 0.3px solid #dadada;*/
  display:inline-block;
  /*border-radius: 3px;*/
  font-size:15px;
  float:left;
  padding:2px 0px;
  font-weight:900;
  margin:25px 30px 5px 0px;
}

.logout-button:hover{
  border-bottom: 3px solid #dadada;
  /*color: #361575;*/
/*  background:rgba(0, 0, 0, 0.3);
  border-radius:2px;*/
}
