.sidebar{
	display:flex;
	flex-direction: column;
	width:100px;
	height:500px;
	display:block;
	display:block;
	position:absolute;
  margin:180px 0px 20px 0px;
  z-index:3;
  width:200px;
}


.sidebar-button{
	width:70px;
	/*border: 2px solid rgb(107, 90, 147);*/
	border: 2px solid #5B3DA8;
	/*border: 2px solid #6b5a93;*/
	/*background:white;*/
	/*color: #6b5a93;*/
	color:#5B3DA8;
	display:inline-block;
	border-radius: 10px;
	font-size:20px;
	padding:4px 20px;
	margin:32px 50px 5px 40px;
	transition: all 0.2s ease 0s;
}

.sidebar-button:hover{
		/*border: 2px solid #3f827a;*/
	color: #5635AE;
	background:white;
	box-shadow: 
	rgb(86, 53, 174) 1px 1px,
	rgb(86, 54, 176) 2px 2px,
	rgb(86, 55, 178) 3px 3px,
	rgb(86, 56, 180) 4px 4px,
	rgb(86, 57, 182) 5px 5px,
	rgb(86, 58, 184) 6px 6px;
}
