/* Splash page CSS only */

/* Wordmark */
.tracktive-wordmark1, .tracktive-wordmark2 {
	font-size:70px;
}

.tracktive-wordmark1{
	color: #6b5a93;
	text-shadow: 2px 2px #330d9b;
	font-weight: bold;
}

.tracktive-wordmark2{
	color: white;
	text-shadow: 2px 2px #4a8e82;
	font-weight:bold;
}

/* Session Form */

.session-form{
	background: #fcfcfc;
	color:#77AF9C;
	border:1px solid #8ADCB3;
	box-shadow:2px 10px 10px #330d9b;
	width:400px;
	position: relative;
	left:35%;
	padding:0px 20px 20px 30px;
	border-radius:40px;
}

.demo-button, .session-button{
	background: #77AF9C;
	color: white;
	font-size:20px;
	border-radius: 10px;
	padding:6px 30px;
	margin:10px;
}

.demo-button{
	background: #330d9b;
}
.demo-button:hover{

	color: white;
  font-size:20px;
  animation: move linear 4000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -3px -3px 0 hsla(257, 51%, 48%, 1), 
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -1px -1px 0 hsla(257, 51%, 48%, 1),
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      3px 3px 0 hsla(165, 75%, 30%, 1), 
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      1px 1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -3px 3px 0 hsla(165, 75%, 30%, 1), 
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -1px 1px 0 hsla(165, 75%, 30%, 1),
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      3px -3px 0 hsla(257, 51%, 48%, 1), 
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      1px -1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      3px 3px 0 hsla(257, 51%, 48%, 1), 
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      1px 1px 0 hsla(257, 51%, 48%, 1),
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -3px -3px 0 hsla(165, 75%, 30%, 1), 
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -1px -1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1);
  }  
}

