/* Splash page CSS only */

/* Wordmark */

.splash-background{
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

.tagline{
  color:rgba(255, 255, 255, 0.8);
  font-size:4vmax;
  display:inline-block;
  font-weight:bold;
   margin-left:15%;
}

.tracktive-wordmark-main{
  font-size: 13vmax;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
  margin-left:25%;
}
.tracktive-wordmark{
	font-size: 60px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  float:left;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
  margin:40px 0px 0px 20px;
}

/* Session Form */

/*.session-modal{
transition: all 4s ease;
}
*/
.fist-bump{
  height:120px;
  margin-top:-80px;
  margin-left:20%;
  width:auto;
  position:relative;
  z-index:-2;
}
.splash-buttons{
  display:flex;
  flex-direction: row;
  width:600px;
  height:300px;
  font-size:2vmax;
  display:block;
  position:absolute;
  left:25%;
  right:25%;
  margin-top:52vh;
  z-index:-3;
  /*width:200px;*/
}


.splash-button{
  /*background: rgba(255,255,255,0.8);*/
  width:7vmax;
  /*border: 2px solid rgb(107, 90, 147);*/
  border: 2px solid white;
  font-weight:bold;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 3px;
  font-size:1.5vmax;
  padding:2px 15px;
  margin:20px 20px 5px 20px;
  transition: all 0.3s ease 0s;
}

.splash-button:hover{
  color: #5b3da8;
  border: 2px solid #5b3da8;
  box-shadow: #3b3b3d 0px 0px;
  background: rgba(255,255,255,0.1);
}



.active-button{
  background:rgb(84, 82, 82);
  color: white;
  box-shadow: 
  rgb(84, 82, 82) 0px 0px;
}

.exit-button{
  position:absolute;
  font-size:30px;
  top:-20px;
  right:30px;
  color:#d623fe;
}

.exit-button:hover{
  color:#ae7cba;
  cursor:pointer;
}

.session-form{
	color:#77AF9C;
	position: relative;
	padding:0px 0px 20px 30px;
	/*border-radius:5px;*/
  /*box-shadow: 0.5px 0.5px 3px 0px rgba(0,0,0,0.48);*/
}

.session-form-header{
  font-size:24px;
  font-weight:bold;
  color:#5b3da8;
  margin:30px 0px 50px;
}

.demo-button, .session-button{
	background: #149078;
	color: white;
	font-size:2vmax;
	border-radius: 5px;
	padding:6px 30px;
	margin:10px;
}

.demo{
  color: #5b3da8;
  border: 2px solid #5b3da8;
}

.demo:hover{
  border: 2px solid white;
  color:white;
  font-weight:bold;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px 3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px 1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7),
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      1px 1px 0 hsla(256, 53%, 45%, 0.7)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -1px 1px 0 hsla(256, 53%, 45%, 0.7),
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      1px -1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      1px 1px 0 hsla(257, 51%, 48%, 0.7),
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px 1px 0 hsla(257, 51%, 48%, 0.7);
  }  
}


.greeting-container{
  width:100%;
}

.submit{
    /*width:150px;*/
  /*border: 2px solid rgb(107, 90, 147);*/
  border: 2px solid #ce25fc;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 4px;
  font-size:20px;
  padding:2px 15px;
  margin:50px 20px 5px 20px;
  transition: all 0.2s ease 0s
  border:2px solid #ce25fc;
  color: #ce25fc;
  transition: all 0.2s ease 0s;
}

.submit:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}
