/* Splash page CSS only */

/* Wordmark */
.tracktive-wordmark{
	font-size: 70px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */

}

.tracktive-wordmark{
  display:inline-block;
  float:left;
  color: white;
  text-shadow:
  rgb(20, 144, 120) 1px 1px,
  rgb(20, 144, 122) 3px 3px,
  rgb(107, 90, 147) 4px 5px,
  rgb(107, 91, 148) 5px 5px,
  rgb(86, 53, 174) 7px 7px, 
  rgb(86, 54, 175) 8px 8px;	

  font-weight: bold;
  margin:25px 0px 0px 40px;
}

/* Session Form */

.session-form{
	background: #fcfcfc;
	color:#77AF9C;
	border:2px solid #5635AE;
	width:400px;
	position: relative;
	left:35%;
	padding:0px 20px 20px 30px;
	border-radius:40px;
}

.demo-button, .session-button{
	background: #77AF9C;
	color: white;
	font-size:20px;
	border-radius: 10px;
	padding:6px 30px;
	margin:10px;
}

.demo-button{
	background: #5b3da8;
}

/* Silly demo button effect */
/*.tracktive-wordmark1:hover{
  animation: move linear 4000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -3px -3px 0 hsla(257, 51%, 48%, 1), 
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -1px -1px 0 hsla(257, 51%, 48%, 1),
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      3px 3px 0 hsla(165, 75%, 30%, 1), 
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      1px 1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -3px 3px 0 hsla(165, 75%, 30%, 1), 
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -1px 1px 0 hsla(165, 75%, 30%, 1),
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      3px -3px 0 hsla(257, 51%, 48%, 1), 
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      1px -1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      3px 3px 0 hsla(257, 51%, 48%, 1), 
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      1px 1px 0 hsla(257, 51%, 48%, 1),
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -3px -3px 0 hsla(165, 75%, 30%, 1), 
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -1px -1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1);
  }  
}
}*/

.demo-button:hover{

	color: white;
  font-size:20px;
  animation: move linear 4000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -3px -3px 0 hsla(257, 51%, 48%, 1), 
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -1px -1px 0 hsla(257, 51%, 48%, 1),
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      3px 3px 0 hsla(165, 75%, 30%, 1), 
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      1px 1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -3px 3px 0 hsla(165, 75%, 30%, 1), 
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -1px 1px 0 hsla(165, 75%, 30%, 1),
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      3px -3px 0 hsla(257, 51%, 48%, 1), 
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      1px -1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      3px 3px 0 hsla(257, 51%, 48%, 1), 
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      1px 1px 0 hsla(257, 51%, 48%, 1),
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -3px -3px 0 hsla(165, 75%, 30%, 1), 
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -1px -1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1);
  }  
}


.greeting-container{
  width:100%;
}
