/* Splash page CSS only */

/* Wordmark */
.tracktive-wordmark1, .tracktive-wordmark2 {
	font-size:70px;
	left:40%;
}

.tracktive-wordmark1{
	color: #6b5a93;
	text-shadow: 2px 2px #330d9b;
	font-weight: bold;
}

.tracktive-wordmark2{
	color: white;
	text-shadow: 2px 2px #4a8e82;
	font-weight:bold;
}

/* Session Form */

.session-form{
	background: #fcfcfc;
	color:#77AF9C;
	border:1px solid #8ADCB3;
	box-shadow: 4px 4px #330d9b;
	width:400px;
	height:440px;
	position: relative;
	left:35%;
	padding:0px 20px 20px 30px;
	border-radius:20px;
}