/* Splash page CSS only */

/* Wordmark */

.gradient-div{
  display:block;
  /*margin-top:100px;*/
  width:760px;
  height:268px;
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}

.whole-page{
  height:950px;
  top:0%;
  left:0%;
  right:0%;
}
.splash-background{
  min-height:100%;
  position: relative;
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}
  
    
    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}




.tagline{
  color:rgba(255, 255, 255, 0.7);
  font-size:54px;
  position:absolute;
  display:inline-block;
  margin-left:150px;
  line-height:0.8;
  white-space: nowrap;
  z-index:33;
  font-weight:600;
}

.tracktive-wordmark-main{
  font-size: 148px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari 
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,
  rgb(86, 54, 175) 8px 8px,
  rgb(86, 54, 175) 9px 9px,
  rgb(86, 54, 175) 10px 10px; 
  font-weight: 600;
  margin-left:250px;
}

.tracktive-wordmark{
	font-size: 60px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  float:left;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px;
  font-weight: bold;
  margin:40px 0px 0px 20px;
}

/* Session Form */


.splash-buttons{
  display:flex;
  flex-direction: row;
  width:700px;
  height:100px;
  position:absolute;
  white-space: nowrap;
  display:inline-block;
  margin-left: 280px;
  margin-top: 350px;
  z-index:3;
}


.splash-button{
  opacity:0.8;
  width:80px;
  border: 2px solid white;
  font-weight:600;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 3px;
  font-size:20px;
  padding:1px 20px;
  margin: 0 15px;
  transition: all 0.2s ease 0s;
}

.splash-button:hover{
  opacity:1.0;
  transform:scale(1.05);
}



.active-button{
  background:rgb(84, 82, 82);
  color: white;
  box-shadow: 
  rgb(84, 82, 82) 0px 0px;
}



.greeting-container{
  width:100%;
}

.fist-bump{
    height:100px;
    margin-top:-50px;
    margin-left:150px;
    width:auto;
    position:relative;
    z-index:-1;
  }

  .hand-wave{
    height:100px;
    width:auto;
    margin-top:-50px;
    margin-left:50px;
    position:relative;
    z-index:-1;
  }
