/* Splash page CSS only */

/* Wordmark */

.whole-page{
  height:950px;
  top:0%;
  left:0%;
  right:0%;
}
.splash-background{
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height:100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
}

.tagline{
  color:rgba(255, 255, 255, 0.8);
  font-size:4vmax;
  position:absolute;
  display:inline-block;
  font-weight:bold;
  margin-left:15%;
  z-index:33;
}

.tracktive-wordmark-main{
  font-size: 13vmax;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
  margin-left:25%;
}

.tracktive-wordmark{
	font-size: 60px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  float:left;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
  margin:40px 0px 0px 20px;
}

/* Session Form */


.splash-buttons{
  display:flex;
  flex-direction: row;
  width:600px;
  height:300px;
  display:block;
  position:absolute;
  left:25%;
  right:15%;
  bottom:100px;
  z-index:3;
}


.splash-button{
  /*background: rgba(255,255,255,0.8);*/
  width:70px;
  /*border: 2px solid rgb(107, 90, 147);*/
  border: 2px solid white;
  font-weight:bold;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 3px;
  font-size:20px;
  padding:2px 15px;
  margin:20px 20px 5px 20px;
  transition: all 0.3s ease 0s;
}

.splash-button:hover{
  color: #5b3da8;
  border: 2px solid #5b3da8;
  box-shadow: #3b3b3d 0px 0px;
  background: rgba(255,255,255,0.1);
}



.active-button{
  background:rgb(84, 82, 82);
  color: white;
  box-shadow: 
  rgb(84, 82, 82) 0px 0px;
}



.greeting-container{
  width:100%;
}

.fist-bump{
    height:120px;
    margin-top:-80px;
    margin-left:20%;
    width:auto;
    position:relative;
    z-index:-1;
  }
