/* ELements related to the Tracktlist detail page */


.info-box{
	float:left;
	color: #FBFBFB;
	word-spacing:6px;
	width:60%;
}

.author-label, .artists-label{
	font-size:16px;
	font-weight:900;
	color: #fbfbfc;
	margin-right:15px;
}

.mix-image{
	background-position: center center;
	height:150px;
	width:auto;
	z-index:500;
}

.mix-image:hover{
	width:auto;
	height:280px;
	transform:translate(-40px, -40px);
}

.mix-image-container{
	width:150px;
	height:150px;
	overflow:hidden;
	float:left;
	margin-right:50px;
	margin-bottom:50px;
	transition: all 0.5s ease 0s;
	display:inline-block;
	/*border-radius:20px;*/
}

.mix-image-container:hover{
	/*transform:translate(-40px, -40px);*/
	width:280px;
	height:280px;
}

.tracktlist-detail{
	margin-top:100px;
	min-height:500px;
	display:flex;
	flex-direction:column;
	color:#88898c;
		/*box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.58);*/
	/*border: 1px solid #808080;  */
}

.brighter-link{
	color:#d759f9;
}

.tracktlist-info{
	display:block;
	transition: all 0.4s ease 0s;
  background: linear-gradient(237deg, #686d6c, #252626);
  -webkit-animation: GradientAnimation 50s ease infinite;
  -moz-animation: GradientAnimation 50s ease infinite;
  animation: GradientAnimation 50s ease infinite;
	width:100%;
	padding:40px;
	height:180px;
}

.left-side-player{
	margin:50px 0px 0px 350px;
	position:absolute;
}


.playlist-title{
	opacity:0.9;
  width:500px;
  display:block;
  position:relative;
	color:#eaeaf2;
	line-height: 33px;
	font-size: 48px;
	font-weight:900;
	margin-bottom:30px;
}


body.ab-control.trackset.view-list.white.mode-large{
		font-family: ProximaNovaA-Regular;
}


.brighter{
	color:#d759f9;
	font-weight:bold;
	margin: 0px 3px;
	cursor:pointer;
}

.brighter:hover{
	border-bottom:3px solid #d759f9;
}

.iframe-trap{
	float:left;
}

.iframe-container{
	display:block;
	/*background:#ede8e8;*/
	width:100%;
	left:0;
	height:500px;
	border-top: 1px solid #bfbfbf;
	/*margin:-15px 10px;*/
}

iframe.player-frame{
	border: 0px solid white;
	display:block;
	/*width:720px;*/
	/*height:400px;*/
	margin-top:10px;
	float:left;
}

iframe {
	width:380px; /* just for testing */
	position:relative;
	opacity:0.85;
	height:380px;
	float:left;
}

.play-info-container{
	float:left;
	position:relative;
	display:block;
	margin-left:20px;
	width:50%;
	height:auto;
}

.play-info-container h3{
  color: #626665;
	font-size:32px;
	margin-bottom:0px;
	font-weight:bold;
/*  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;*/
  margin-top:10px;
}

.info-subtitle{
	display:block;
	margin:20px 0px;
	font-size:20px;
	padding:5px 15px;
	border-radius:20px;
}

.play-info-container li{
	color: #444343;
}

.optionOne{
	color: #444343;
	border:2px solid #444343;
	box-shadow:
	rgba(89, 88, 88, 0.5) 1px 1px,
	rgba(89, 88, 88, 0.4) 2px 2px,
	rgba(89, 88, 88, 0.3) 3px 3px;
}

.otherOption{
	color: rgb(126, 93, 237);
	border: 2px solid rgb(126, 93, 237);
	box-shadow:
  rgba(123, 155, 242, 0.5) 1px 1px,
  rgba(123, 155, 242, 0.4) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px;
}


.credentials{
	margin-top:-10px;
  line-height: 18px;
  font-size:16px;
  height:auto;
  color: rgb(126, 93, 237);
  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;
}

