/* ELements related to the Tracktlist detail page */

.cover-contents{
	/*float:left;*/
}

.author-label, .artists-label{
	font-size:20px;
	margin:0px 15px;
}
.tracktlist-detail{
	/*background:linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));*/
	height:600px;
	color:#282728;
}

.cover-image-container{
	opacity:0.8;
  height: 200px;
	width: 700px;
  overflow: hidden;
  margin:0px 0px;
  border:1px solid #9189a5;
}

.cover-image{
  background-position: center center;
  /*background-repeat: no-repeat;*/
}

.playlist-title{
  /*position:absolute;*/
	color:#282728;
	font-size: 40px;
	font-weight:bold;
}

iframe {
	margin: 0px 0px 0px 0px;
	width:300px; /* just for testing */
	float:right;
	/*display:inline-block;*/
	/*border:2px solid black;*/
	/*box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.48);*/
}

.artists-featured{
	color:white;
	display:inline-block;
	background:#e0e0e0;
	margin:10px;
	padding:1px 10px 1px 5px;
	font-size:24px;
	text-shadow: rgb(20, 144, 120) 1px 1px,
	rgb(20, 144, 120) 1px 1px,
    rgb(107, 90, 147) 2px 2px,
    rgb(107, 91, 148) 3px 3px,
    rgb(107, 92, 149) 4px 4px;
/*    rgb(20, 145, 121) 5px 5px,
    rgb(20, 146, 122) 6px 6px,
    rgb(20, 149, 124) 7px 7px;*/
}
