
.create-header{
	height:60px;
	width:80%;
}

.create-banner-text{
	float:left;
	font-size:60px;
	text-align:center;
	margin-top:0px;
	margin-bottom:40px;
	font-weight:bold;
	color: white;
	width:100%;
	left:0;
	right:0;
	padding-bottom:40px;
	padding-top:40px;
	text-shadow:
	rgb(107, 90, 147) 1px 1px,
	rgb(107, 90, 147) 2px 2px,
	rgb(107, 90, 147) 3px 3px,
	rgb(86, 53, 174) 4px 4px, 
	rgb(86, 54, 175) 5px 5px,
	rgb(86, 54, 175) 6px 6px,
	rgb(86, 54, 175) 7px 7px; 
	font-weight: bold;
	  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 30s ease infinite;
  -moz-animation: GradientAnimation 30s ease infinite;
  animation: GradientAnimation 30s ease infinite;
}
  
    
    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h3.create{
	position:relative;
	font-weight:400;
	font-size:20px;
	line-height:0.9;
	color:#282728;
}


.tracktlist-form{
	display:block;
	margin:0px 0px;
	width:67%;
	height:400px;
	padding:15px;
	z-index:-3;
}

.create-form{
	display:block;
	position:relative;
}

/* Flask logo */
.flask-logo{
	display:inline-block;
	height:6vmax;
	width:auto;
	margin-left:10px;
}

.creation-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:20px;
	/*border:1px solid #5B3DA8;*/
	margin: 2px 5px;
	border-radius:3px;
	padding: 10px 13px;
	width:100%;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.cancel-button{
	display:inline-block;
	position:relative;
	margin-top:30px;
	z-index:1000;
}

.creation-input-field::-webkit-input-placeholder {
    color:#aba9bc;
  }

.creation-input-field::-moz-placeholder { /* Firefox 19+ */
  color:#aba9bc;
}

.creation-input-field::-ms-input-placeholder { /* IE 10+ */
  color:#aba9bc;
}

.creation-input-field::-moz-placeholder { /* Firefox 18- */
  color:#aba9bc;
}


 .submit{
  border:2px solid #ce25fc;
  color: #ce25fc;
  transition: all 0.2s ease 0s;
}

.submit:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}

 .create-button{
 	font-size: 2.1vmax;
 	display:inline-block;
 	padding:12px 140px;
 	border-radius:4px;
  color: #d623fe;
  transition: all 0.2s ease 0s;
  border:2px solid #d623fe;
  margin-left:10vmax;
  margin-right:10vmax;
  margin-top:2vmax;
  line-height:2vmax;
  margin-bottom:5vmax;
}

.create-button:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}

