/*div.tracktlist-form{
	height:600px;
	width:725px;
	display:block;
	border-radius:20px;
	padding:20px;
}
*/
.create-header{
	height:60px;
}

h2.create{
	float:left;
	font-size:52px;
	margin:0 auto;
	font-weight:bold;
	color:black;
}

h3.create{
	position:relative;
	font-size:24px;
	font-weight:400;
	margin: 5 auto;
	color:white;
}

.tracktlist-form{
	display:block;
	margin:0px auto;
	width:650px;
	height:400px;
	padding:30px;
}

.create-form{
	display:block;
	position:relative;
}

/* Flask logo */
.flask-logo{
	height:60px;
	width:auto;
	float:left;
}
.creation-input-field{
	background: rgba(255,255,255,0.2);
	letter-spacing:1px;
	color: rgb(86, 54, 175);
	font-size:18px;
	border: 1px solid white;
	margin: 2px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:500px;
}

.creation-input-field:focus{
	color: rgb(86, 54, 175);
	background:rgba(255,255,255,0.8);
	border: 1px solid rgb(86, 54, 175);
}

.creation-input-field::-webkit-input-placeholder {
    color:white;
  }


 .create-button{
	 	border: 4px solid white;
	 	font-size: 22px;
	 	background: rgba(255,255,255,0.1);
		color: white;
		display:inline-block;
		border-radius: 3px;
		padding:10px 100px;
		margin:32px 40px 5px 40px;
		transition: all 0.2s ease 0s;

 }

 .create-button:hover{
		background: rgba(255,255,255,1);
		color: rgb(92, 96, 153);
		box-shadow:   
		rgb(89, 90, 147) 1px 1px,
		rgb(89, 90, 147) 2px 2px,
		rgb(89, 91, 149) 3px 3px,
		rgb(89, 91, 149) 4px 4px,
		rgb(89, 94, 150) 5px 5px, 
		rgb(89, 96, 153) 6px 6px,
		rgb(89, 96, 153) 7px 7px,
		rgb(89, 97, 153) 8px 8px,	
		rgb(89, 98, 155) 9px 9px;	
 }