/*div.tracktlist-form{
	height:600px;
	width:725px;
	display:block;
	border-radius:20px;
	padding:20px;
}
*/
.create-header{
	height:60px;
}

h2.create{
	float:left;
	font-size:52px;
	margin:0 auto;
	font-weight:bold;
	color:#282728;
}

h3.create{
	position:relative;
	font-size:18px;
	font-weight:400;
	margin: 1 auto;
	color:#282728;
}

.tracktlist-form{
	display:block;
	margin:0px auto;
	width:650px;
	height:400px;
	padding:30px;
}

.create-form{
	display:block;
	position:relative;
}

/* Flask logo */
.flask-logo{
	height:60px;
	width:auto;
	float:left;
}
.creation-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:20px;
	border: 2px solid #282728;
	margin: 2px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:80%;
	transition: all 0.2s ease 0s;
}

.creation-input-field:focus{
	color: rgb(86, 54, 175);
	border: 2px solid rgb(86, 54, 175);
	/*background: rgba(255,255,255,1);*/
}
.creation-input-field::-webkit-input-placeholder {
    color:#aba9bc;
  }


 .create-button{
	 	border: 4px solid white;
	 	font-size: 22px;
		color: #5635AE;
		background:white;
		border: 2px solid #5635AE;
		box-shadow: 
		rgb(86, 53, 174) 1px 1px,
		rgb(86, 53, 174) 2px 2px,
		rgb(86, 53, 174) 3px 3px,
		rgb(86, 54, 176) 4px 4px,
		rgb(86, 55, 178) 5px 5px,
		rgb(86, 56, 180) 6px 6px,
		rgb(86, 57, 182) 7px 7px,
		rgb(86, 58, 184) 8px 8px;
		display:inline-block;
		border-radius: 3px;
		position:relative;
		padding:10px 100px;
		margin:32px 40px 20px 80px;
		transition: all 0.2s ease 0s;
 }

 .create-button:hover{
		color: rgb(92, 96, 153);
 }