/*div.tracktlist-form{
	height:600px;
	width:725px;
	display:block;
	border-radius:20px;
	padding:20px;
}
*/
.create-header{
	height:60px;
}

h2.create{
	float:left;
	font-size:52px;
	margin:0 auto;
	font-weight:bold;
	color:#282728;
}

h3.create{
	position:relative;
	font-size:18px;
	font-weight:400;
	margin: 1 auto;
	color:#282728;
}

.tracktlist-form{
	display:block;
	margin:0px auto;
	width:650px;
	height:400px;
	padding:30px;
}

.create-form{
	display:block;
	position:relative;
}

/* Flask logo */
.flask-logo{
	height:60px;
	width:auto;
	float:left;
}
.creation-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:20px;
	/*border:1px solid #5B3DA8;*/
	margin: 2px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:80%;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.creation-input-field::-webkit-input-placeholder {
    color:#aba9bc;
  }


 .create-button{
	 	font-size: 22px;
		background: #B290F5;
		color:white;
		border: 0.5 solid white;
		display:inline-block;
		border-radius: 3px;
		position:relative;
		padding:10px 100px;
		margin:32px 40px 20px 80px;
		box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.48);
 }

 .create-button:hover{
 	  -webkit-filter:brightness(110%);
 }

