div.tracktlist-form{
	height:600px;
	width:725;
	border-radius:20px;
	padding:20px;
}

.create-header{
	height:60px;
}

h2.create{
	float:left;
	font-size:52px;
	margin:0 auto;
	font-weight:bold;
	color:black;
}

h3.create{
	position:relative;
	font-size:24px;
	font-weight:400;
	margin: 5 auto;
	color:white;
}

.tracktlist-form{
	display:block;
	margin:0px auto;
	width:650px;
	height:400px;
	padding:30px;
}

.create-form{
	display:block;
	position:relative;
}

/* Flask logo */
.flask-logo{
	height:60px;
	width:auto;
	float:left;
}
.creation-input-field{
	background: rgba(255,255,255,0.2);
	letter-spacing:1px;
	font-size:16px;
	border: 1px solid white;
	margin: 2px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:400px;
}


.creation-input-field::-webkit-input-placeholder {
    color:white;
  }


 .create-button{
	 	border: 2px solid white;
	 	font-size:22px;
	 	background: rgba(255,255,255,0.1);
		color: white;
		display:inline-block;
		border-radius: 10px;
		padding:10px 100px;
		margin:32px 30px 5px 40px;
		transition: all 0.2s ease 0s;

 }

 .create-button:hover{
 	 	background: rgba(255,255,255,1);
 	 	color: #41337c;
		box-shadow: 2px 2px #41337c;
 }