/* ELements related to the Tracktlist detail page */



.author-label, .artists-label{
	font-size:16px;
	font-weight:900;
	color: #fbfbfc;
	margin-right:15px;
}


.tracktlist-detail{
	margin-top:150px;
	min-height:500px;
	display:flex;
	color:#88898c;
		/*box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.58);*/
	/*border: 1px solid #808080;  */
	padding:30px;
}

.brighter-link{
	color:#d759f9;
}

.tracktlist-info{
	border: 1px solid rgba(255,255,255,0.9);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.48);
	/*background: linear-gradient(to left, rgba(186, 42, 247, 0.80) , rgba(153, 51, 238, 0.80)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*display:block;*/
background: rgba(34, 35, 38, 0.95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width:300px;
	height:200px;
	position:relative;
	margin:50px 0px 0px 0px;
	padding:40px;
}

.left-side-player{
	margin:50px 0px 0px 350px;
	position:absolute;
}

.cover-image-container{
	position:absolute;
	opacity:0.8;
	left:0;
  height: 100%;
	width: 100vmax;
  overflow: hidden;
  margin:0px 0px;
	/*box-shadow: 0.5px 0.5px 3px 0px rgba(0,0,0,0.48);*/
	/*border: 2px solid #545252;  */
}

.cover-image{
	background-position: center center;  /*background-repeat: no-repeat;*/
	width:100%;
	height:auto;
	z-index:-30;
}

.playlist-title{
  /*position:absolute;*/
  width:500px;
  position:relative;
	color:#eaeaf2;
	line-height: 33px;
	font-size: 30px;
	font-weight:bold;
	text-shadow:
    #ba2af7 1px 1px,
    #ba2af7 2px 2px,
    #ba2af7 3px 3px;
}


body.ab-control.trackset.view-list.white.mode-large{
		font-family: ProximaNovaA-Regular;
}

iframe {
	width:380px; /* just for testing */
	position:relative;
	opacity:0.85;
	height:380px;
	margin-left:30%;
	padding:0px;
}

/*
div#container.container.tracklist-view{
	font-family: ProximaNovaA-Regular;
}
*/

.artists-featured{
	color:rgb(84, 82, 82);
	display:inline-block;
	/*background:#aceed1;*/
	margin:10px;
	padding:1px 10px 1px 5px;
	font-size:24px;
	text-shadow:
    rgb(170, 169, 169) 1px 1px,
    rgb(170, 169, 169) 2px 2px;
/*    rgb(20, 145, 121) 5px 5px,
    rgb(20, 146, 122) 6px 6px,
    rgb(20, 149, 124) 7px 7px;*/
}

.brighter{
	color:#d759f9;
	font-weight:bold;
	margin: 0px 3px;
	cursor:pointer;
}

.brighter:hover{
	text-decoration: underline;
}

