/* This is for the user detail page */

/*
.user-detail{
	display:block;
	position:relative;
}*/


.user-detail-header{
	float:left;
		font-size:6vmax;
		text-align:center;
	margin-top:0px;
		margin-bottom:40px;
		font-weight:bold;
	 color: white;
	 width:100%;
	 left:0;
	 right:0;
	 padding-bottom:40px;
	 padding-top:40px;
	 background: #d623fe;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
}

.user-header{
	font-size:25px;
	left:30%;
}


.like-icon{
	width:auto;
	height:5vmax;
	margin:10px 0px 0px 5px;
	/*float:left;*/
	display:inline-block;
}

.userpage-buttons{
  display:flex;
  flex-direction: row;
  width:600px;
  height:100px;
  display:block;
  position:relative;
  margin:0 auto;
  bottom:100px;
  /*z-index:0;*/
  /*width:200px;*/
}


.user-button{
  /*background: rgba(255,255,255,0.8);*/
  width:200px;
  /*border: 2px solid rgb(107, 90, 147);*/
  border-bottom: 2px solid white;
  font-weight:bold;
  color:white;
  text-align:center;
  display:inline-block;
  /*border-radius: 3px;*/
  font-size:18px;
  padding:2px 15px;
  margin:20px 20px 5px 20px;
  transition: all 0.3s ease 0s;
}

.user-button:hover{
  color: #5b3da8;
  border-bottom: 2px solid #5b3da8;
  box-shadow: #3b3b3d 0px 0px;
}

.profile-greeting-container{
  display:block;
}

h2.profile-greeting {
  color: #55587a;
  font-size:32px;
  font-weight:bold;
  text-align:center;
}