/* This is for the user detail page */


.user-detail{
	display:block;
	position:relative;
}

.user-header{
	font-size:25px;
	left:30%;
}
.user-info{
	color:white;
	font-size:20px;
}

.headphone-icon{
	width:auto;
	height:4vmax;
	margin:10px 0px 0px 20px;
	/*float:left;*/
	display:inline-block;
}

.liked-created-buttons{
	height:100px;
	width:500px;
}

.user-button{
	border: 2px solid #565b6b;
	background:none;
	color: #565b6b;
	/*display:inline-block;*/
	/*border-radius: 10px;*/
	font-size:16px;
	position:relative;
	padding:6px 80px;
	margin:32px 30px 5px 0px;
	transition: all 0.2s ease 0s;
}