/* This is for the user detail page */

/*
.user-detail{
	display:block;
	position:relative;
}*/


.user-detail-header{
	float:left;
		font-size:6vmax;
		text-align:center;
	margin-top:0px;
		margin-bottom:40px;
		font-weight:bold;
	 color: white;
	 width:100%;
	 left:0;
	 right:0;
	 padding-bottom:40px;
	 padding-top:40px;
	 background: #d623fe;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
}

.user-header{
	font-size:25px;
	left:30%;
}
.user-info{
	color:white;
	font-size:20px;
}

.like-icon{
	width:auto;
	height:5vmax;
	margin:10px 0px 0px 5px;
	/*float:left;*/
	display:inline-block;
}

.liked-created-buttons{
	height:100px;
	width:500px;
}

.user-button{
	border: 2px solid #565b6b;
	background:none;
	color: #565b6b;
	/*display:inline-block;*/
	/*border-radius: 10px;*/
	font-size:16px;
	position:relative;
	padding:6px 80px;
	margin:32px 30px 5px 0px;
	transition: all 0.2s ease 0s;
}