/* This is for the user detail page */

.user-info{
	color:white;
	font-size:20px;
}

.liked-created-buttons{
	margin: 0 auto;
	height:100px;
	width:500px;
}

.user-button{
	border: 2px solid white;
	background:none;
	color: white;
	display:inline-block;
	border-radius: 10px;
	font-size:16px;
	float:left;
	padding:6px 80px;
	margin:32px 30px 5px 8px;
	transition: all 0.2s ease 0s
	font-size:22px;
}