/* This is for the "about" page */




div.tracktlists-index, div.user-detail-1{
	margin-left:20vmin;
	margin-right:1vmin;
	margin-top:180px;
  bottom:0;
}


div.site-info{
	z-index:9999;
	padding:50px;
}
.site-info p{
	font-size:16px;
	color: #343335;
	font-weight:400;
	word-break: normal;
  white-space: normal;
}

.about-header{
	color:#6a3afc;
  font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	margin:1em 0em;
}

.head-shot{
	float:left;
	height:14vmax;
	margin-right:30px;
	width:auto;
	filter: invert(0%)
}

.about-text{
	line-height:1.2;
	margin-bottom:30px;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(126, 93, 237);
    box-shadow:
    rgba(184, 184, 219, 0.5) 1px 1px,
    rgba(184, 184, 219, 0.4) 2px 2px,
    rgba(184, 184, 219, 0.3) 2px 2px,
    rgba(184, 184, 219, 0.2) 2px 2px;
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:3000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 21px;
    top: 18px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:3001;
}
#return-to-top:hover {
    background: #fff;
}
#return-to-top:hover i {
    color: rgb(126, 93, 237);
    top: 5px;
}


  .tracktlists-index-container {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  list-style-type: none;
	  justify-content: space-between;
	  width: 100%;
    min-height:100vh;
  }

.whole-index-page{
	  top:0%;
	  left:0%;
	  right:0%;
}

  img.wordmark-logo{
  	height:60px;
  	display:inline-block;
      -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
	  float:left;
    margin:30px 30px 0px 30px;
  }


  @keyframes hover {
  0%, 100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
}  

@keyframes hovery {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.7;
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-4px);
    opacity:1.0;
    animation-timing-function: ease-in;
  }
}

  .explore{
		display:inline-block;
		float:left;
		font-size:40px;
		text-align:center;
		margin-top:0px;
		margin-bottom:40px;
		font-weight:bold;
		color: #6a3afc;
		width:100%;
		left:0;
		right:0;
		padding:60px 0px;
		font-weight: 900;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 50s ease infinite;
  -moz-animation: GradientAnimation 50s ease infinite;
  animation: GradientAnimation 50s ease infinite;
}
  
    
    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}

}
  

.binoculars-logo{
	height:40px;
	margin-left:5px;
	width:auto;
	display:inline-block;
}
.thumb-image{
	background-position: center center;
  /*border: 1px solid rgba(126, 93, 237,0.2);*/
	height:140px;
	width:auto;
}

.index-image-container{
  padding:20px;
	width:140px;
	height:140px;
	overflow:hidden;
}

.entire-item{
	/*overflow:hidden;*/
  background:white;
  display:flex;
  flex-direction:row;
	transition: all 0.2s ease;
  margin-bottom: 60px;
  width:400px;
  border-radius:3px;
	border:1px solid #b8b8db;
  box-shadow: 2px 2px 15px 0px rgba(126, 93, 237, 0.8);
}
.entire-item:hover{
	/*font-size: 1.05em;*/
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  	/*overflow:hidden;*/
}


/*Index item text */

  .index-right{
    margin:20px 5px;
    width:180px;
    float:left;
    display:block;
    padding-left:10px;
      /*border-bottom: 0.5px solid rgb(126, 93, 237);*/
  }

.track-index-title{
	font-size:24px;
  padding-bottom:15px;
  opacity:0.8;
  font-weight:900;
  float:left;
  color:#333333;
	line-height: 20px;
  width: 200px;
  height:auto;
  word-wrap: break-word;
  /*word-spacing:4px;*/
  /*border-bottom: 0.5px solid rgb(126, 93, 237);*/
}

.index-text{
  font-size:14px;
  color: #666464;
}

.creator-name{
  padding-top:10px;
  font-style: italic;
}

.artists{
  font-weight:600;
  float:left;
  line-height: 18px;
  font-size:16px;
  width: 200px;
  height:auto;
  color: rgb(126, 93, 237);
  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;
}

.carousel-container {
  margin-right:30px;
  width: 70%;
  display:block;
  overflow:hidden;
  color: #3e3b47;
  display:block;
}

.carousel-element{
  height:480px;
}

.carousel-element img {
  margin-top:10%;
  width:70%;
  box-shadow: 2px 2px 15px 0px rgba(96, 104, 247, 0.4);
  border-radius:3px;
  border: 1px solid rgba(106, 58, 252,0.6);
  height:auto;
  margin-left:15%;
  z-index:10;
}

.carousel-image{
	height:100%;
	width:auto;
}

.slick-next, .slick-prev{
  z-index:3000;
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}

.slick-next:hover, .slick-prev:hover{
  filter:brightness(120%);
}

.slick-next:before{
  right:60px;
  top:20%;
}

.slick-prev:before {
  left:60px;
  top:20%;
}

.slick-prev:before, .slick-next:before{
  position:absolute;
  cursor:pointer;
  opacity:1.0;
  z-index:3000;
  font-size:60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(106, 58, 252,0.6);
 -webkit-filter: drop-shadow(2px 2px 2px rgba(96, 104, 247, 0.7) );
 filter: drop-shadow(2px 2px 2px rgba(96, 104, 247, 0.7) );
  color: #6a3afc;
}


.slick-dots {
  display:none;
}

.subtagline{
  display:block;
  color: #3e3b47;
 font-size:1.3em;
  position:absolute;
  margin-left:400px;
  display:inline-block;
  margin-top:400px;
  font-weight:600;
}
.footer{
  position: absolute;
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.2);
  padding: 1em;
  padding-left:3em;
  background-color: white;
  display:block;
  bottom: 0;

  white-space: nowrap;
  word-wrap:break-word
  margin-top:0px;
  margin:0 auto;
}

.index-footer{
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: white;
  display:block;
  z-index:50;
  bottom: 0;
}

.form-footer{
  position:relative;
  display:block;
  right: 0;
  min-height:150px;
  left: 0;
  box-shadow: 5px 5px 8px 8px rgba(0,0,0,0.2);
  padding: 1rem;
  background-color: white;
  display:block;
  z-index:50;
  bottom: 0;
}

.column-divs{
  margin-left:60px;
}

.column-div{
  vertical-align:top;
  margin-left:50px;*/
  display:inline-block;
}

.column-header{
  font-weight:600;
  font-size:16px;
  color: #c61aed;
}

.link-list li{
  font-size:14px;
  cursor:pointer;
  line-height:35px;
}



.wordmark-logo-footer{
  height:70px;
  padding-right:50px;
  display:inline-block;
  float:left;
  margin-top:40px;
}
.hamburger-dropdown{ 
  display:none;
}

@media all and (max-width: 1020px){
/* the regular nav bar disappears at this max width*/


.tracktlist-info{
	width:140vh !important;
	margin-top:10vh;
}

	ul.sidebar{ 
		display:none;
		flex-direction:column;
	}

	ul.fullscreen-sidebar{
		display:none;
	}

	img.wordmark-logo{
		visibility:hidden;
	}
	  .hamburger-dropdown {
    display: block;
    position: fixed;
    display:flex;
    flex-direction: column;
    margin-left:20px;
    margin-top:20px;
  }


    .hamburger-dropdown > li{
      top:10px;
      left:10px;
    background-image: url("http://res.cloudinary.com/liuffy/image/upload/v1491922118/menu_yjc2nn.svg");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    position:relative;
    cursor: pointer;
  }


  div.index-footer{
  	/*width:140vh !important;*/
  }

  .hamburger-dropdown ul{
        animation-name: fadeIn;
  animation-duration: 0.5s;
    margin-top: 70px;
    padding-top:40px;
    width:300px;
    right:100px; /* this is relative to the hamburger dropdown icon*/
    /* display flex children as a single column*/
    cursor: pointer;
    list-style:none;
    border-left:3px solid #fff;
   	border-bottom:3px solid #fff;
  /*box-shadow: 2px 2px 15px 0px rgba(126, 93, 237, 0.8);*/
  }

    .hamburger-dropdown:hover ul{
    display:flex;
   /* enables a flex context for all its direct children*/
    background: #B8B8DB;
  }

  .ham{
  	font-size:24px !important;
  	font-weight:600;
		color: rgb(126, 93, 237) !important;
		text-shadow:
		rgba(123, 155, 242, 0.3) 1px 1px !important;
		padding:20px 0px !important;
		margin-top:0px !important;
		border-bottom: 1px solid rgba(126, 93, 237, 0) !important;
  }


}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .splash-text{
    width:80% !important;
  }
  .whole-page{
  padding-left:0em !important;
  min-height:45vh;
  }

  .tracktlist-info{
  width:140vh !important;
  margin-top:10vh;
}

  ul.sidebar{ 
    display:none;
    flex-direction:column;
  }

  ul.fullscreen-sidebar{
    display:none;
  }

  img.wordmark-logo{
    visibility:hidden;
  }
    .hamburger-dropdown {
    display: block;
    position: fixed;
    display:flex;
    flex-direction: column;
    margin-left:0px;
    margin-top:0px;
  }


    .hamburger-dropdown > li{
    background-image: url("http://res.cloudinary.com/liuffy/image/upload/v1491922118/menu_yjc2nn.svg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    position:relative;
    cursor: pointer;
  }

/*  .footer{
    width:100vh !important;
  } */

  div.index-footer{
    /*width:140vh !important;*/
  }

  .hamburger-dropdown ul{
    margin-top: 90px;
    padding-top:40px;
    width:300px;
    right:100px; /* this is relative to the hamburger dropdown icon*/
    /* display flex children as a single column*/
    cursor: pointer;
    list-style:none;
    border-left:3px solid #fff;
    border-bottom:3px solid #fff;
  }

    .hamburger-dropdown:hover ul{
    display:flex;
    background: #B8B8DB;
  }

  .ham{
    font-size:24px !important;
    font-weight:600;
    color: rgb(126, 93, 237) !important;
    text-shadow:
    rgba(123, 155, 242, 0.3) 1px 1px !important;
    padding:20px 0px !important;
    margin-top:0px !important;
    border-bottom: 1px solid rgba(126, 93, 237, 0) !important;
  }

/*  .footer{
    padding-left:0em;
  }*/
  .search-bar{
    margin-left:170px !important;
    margin-top:40px !important;
    padding-left:70px !important;
    height:50px !important;
    font-size:30px !important;
    width:400px !important;
  }

  .clear-button{
    margin-left:190px !important;
    margin-top:40px !important;
    font-size:60px !important;
  }
  .text-blurb{
    top:470px !important;
  }

  span.greeting, .logout-text{
    margin-left:20px !important;
    font-size:28px;
  }

  div.entire-item{
    transform:scale(1.5);
    margin:80px !important;
  }

  div.index-right{
    /*width:400px !important;*/
  }
}




.exit-button{
  z-index:2000;
  bakground-size:10px 10px;
  position:absolute;
  font-size:60px;
  top:-10px;
  font-weight:500 !important;
  color: rgba(124, 124, 183,0.7) !important;
  right:3px;
  padding:0.3em;
  transition: all 0.2s ease 0s;
}

.exit-button:hover{
  color: #6a3afc;
  cursor:pointer;
}


.faded-modal{ 
  animation-name: slideIn;
  animation-duration: 0.2s;
}

.scaled-modal{
    animation-name: scaleIn;
  animation-duration: 0.2s;
}
/* Animations */
.fadeIn {
  animation: fadeIn 0.5s ease-in both;
  -webkit-animation: fadeIn 0.5s ease-in both;
}
@keyframes fadeIn {
  from { opacity: 0; }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
}

.fadeOut {
  animation: fadeOut 0.5s ease-out both;
  -webkit-animation: fadeOut 0.5s ease-out both;
}
@keyframes fadeOut {
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  to { opacity: 0; }
}

.scaleIn {
  animation: scaleIn 0.3s ease-in both;
  -webkit-animation: scaleIn 0.3s ease-in both;
}
@keyframes scaleIn {
  from { opacity: 0; transform: scale(0.9); }
}
@-webkit-keyframes scaleIn {
  from { opacity: 0; -webkit-transform: scale(0.9); }
}

.scaleOut {
  animation: scaleOut 0.5s ease-out both;
  -webkit-animation: scaleOut 0.5s ease-out both;
    animation-delay:3s;
  -webkit-animation-delay:3s;
  -o-animation-delay:3s;
}
@keyframes scaleOut {
  to { opacity: 0; transform: scale(0.9); }
}
@-webkit-keyframes scaleOut {
  to { opacity: 0; -webkit-transform: scale(0.9); }
}

.scaleUpIn {
  animation: scaleIn 0.5s ease-in both;
  -webkit-animation: scaleIn 0.5s ease-in both;
}
.scaleUpOut {
  animation: scaleUpOut 0.5s ease-in both;
  -webkit-animation: scaleUpOut 0.5s ease-in both;
    animation-delay:3s;
  -webkit-animation-delay:3s;
  -o-animation-delay:3s;
}
@keyframes scaleUpOut {
  to { opacity: 0; transform: scale(1.2); }
}
@-webkit-keyframes scaleUpOut {
  to { opacity: 0; -webkit-transform: scale(1.2); }
}

.scaleDownIn {
  animation: scaleDownIn 0.5s ease-in both;
  -webkit-animation: scaleDownIn 0.5s ease-in both;
}
.scaleDownOut {
  animation: scaleOut 0.2s ease-in both;
  -webkit-animation: scaleOut 0.2s ease-in both;
    animation-delay:3s;
  -webkit-animation-delay:3s;
  -o-animation-delay:3s;
}
@keyframes scaleDownIn {
  from { opacity: 0; transform: scale(1.2); }
}
@-webkit-keyframes scaleDownIn {
  from { opacity: 0; -webkit-transform: scale(1.2); }
}

.slideIn {
  animation: slideIn 0.5s ease-in both;
  -webkit-animation: slideIn 0.5s ease-in both;
}
@keyframes slideIn {
  from { opacity: 0; transform: translateY(-20%); }
}
@-webkit-keyframes slideIn {
  from { opacity: 0; -webkit-transform: translateY(-20%); }
}

.slideUp {
  animation: slideUp 0.5s ease-in both;
  -webkit-animation: slideUp 0.5s ease-in both;
}
@keyframes slideUp {
  from { opacity: 0; transform: translateY(10%); }
}
@-webkit-keyframes slideUp {
  from { opacity: 0; -webkit-transform: translateY(10%); }
}

.slideOut {
  animation: slideOut 1s ease-out both;
  -webkit-animation: slideOut 1s ease-out both;
  animation-delay:3s;
  -webkit-animation-delay:3s;
  -o-animation-delay:3s;
}

@keyframes slideOut {
  to { opacity: 0; transform: translateY(50%); }
}
@-webkit-keyframes slideOut {
  to { opacity: 0; -webkit-transform: translateY(50%); }
}

.slideLeftIn {
  animation: slideLeftIn 0.5s ease-in both;
  -webkit-animation: slideLeftIn 0.5s ease-in both;
}
@keyframes slideLeftIn {
  from { opacity: 0; transform: translateX(-50%); }
}
@-webkit-keyframes slideLeftIn {
  from { opacity: 0; -webkit-transform: translateX(-50%); }
}

.slideLeftOut {
  animation: slideLeftOut 0.5s ease-out both;
  -webkit-animation: slideLeftOut 0.5s ease-out both;
}
@keyframes slideLeftOut {
  to { opacity: 0; transform: translateX(50%); }
}
@-webkit-keyframes slideLeftOut {
  to { opacity: 0; -webkit-transform: translateX(50%); }
}

.flipLeftIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipLeftIn .5s both ease-out;
    -moz-animation: flipLeftIn .5s both ease-out;
    animation: flipLeftIn .5s both ease-out;
}
@-webkit-keyframes flipLeftIn {
    from {-webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: .2;}
}
@keyframes flipLeftIn {
    from {transform: translateZ(-1000px) rotateY(90deg);opacity: .2;}
}

.flipLeftOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipLeftOut .5s both ease-in;
    -moz-animation: flipLeftOut .5s both ease-in;
    animation: flipLeftOut .5s both ease-in;
}

@-webkit-keyframes flipLeftOut {
    to {-webkit-transform: translateZ(1000px) rotateY(-90deg); opacity: 0;}
}
@keyframes flipLeftOut {
    to {transform: translateZ(1000px) rotateY(-90deg); opacity: 0;}
}

.flipRightIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipRightIn .5s both ease-out;
    -moz-animation: flipRightIn .5s both ease-out;
    animation: flipRightIn .5s both ease-out;
}
@-webkit-keyframes flipRightIn {
    from {-webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: .2;}
}
@keyframes flipRightIn {
    from {transform: translateZ(-1000px) rotateY(-90deg);opacity: .2;}
}

.flipRightOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipRightOut .5s both ease-in;
    -moz-animation: flipRightOut .5s both ease-in;
    animation: flipRightOut .5s both ease-in;
}

@-webkit-keyframes flipRightOut {
    to {-webkit-transform: translateZ(1000px) rotateY(90deg); opacity: 0;}
}
@keyframes flipRightOut {
    to {transform: translateZ(1000px) rotateY(90deg); opacity: 0;}
}


.rotateIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotateIn .5s both ease-out;
    -moz-animation: rotateIn .5s both ease-out;
    animation: rotateIn .5s both ease-out;
}
@-webkit-keyframes rotateIn {
    from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0;}
}
@-moz-keyframes rotateIn {
    from {-moz-transform: translateZ(-3000px) rotateZ(-360deg);opacity: 0;}
}
@keyframes rotateIn {
    from {transform: translateZ(-3000px) rotateZ(-360deg);opacity: 0;}
}

.rotateOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotateOut .5s both ease-in;
    -moz-animation: rotateOut .5s both ease-in;
    animation: rotateOut .5s both ease-in;
}
@-webkit-keyframes rotateOut {
    to {-webkit-transform: translateZ(-3000px) rotateZ(360deg);opacity: 0;}
}
@-moz-keyframes rotateOut {
    to {-moz-transform: translateZ(-3000px) rotateZ(360deg);opacity: 0;}
}
@keyframes rotateOut {
    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0;}
}

.rotateCubeIn {
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: rotateCubeIn .6s both ease-in;
    -moz-transform-origin: 50% 100%;
    -moz-animation: rotateCubeIn .6s both ease-in;
    transform-origin: 50% 100%;
    animation: rotateCubeIn .6s both ease-in;
}
@-webkit-keyframes rotateCubeIn {
    0% {opacity: .3;
        -webkit-transform: translateY(-100%) rotateX(90deg);}
    50% {-webkit-animation-timing-function: ease-out;
        -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
}
@-moz-keyframes rotateCubeIn {
    0% {opacity: .3;
        -moz-transform: translateY(-100%) rotateX(90deg); }
    50% {-moz-animation-timing-function: ease-out;
        -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);}
}
@keyframes rotateCubeIn {
    0% {opacity: .3;
        transform: translateY(-100%) rotateX(90deg);}
    50% {animation-timing-function: ease-out;
        transform: translateY(-50%) translateZ(-200px) rotateX(45deg);}
}

.rotateCubeOut {
    -webkit-transform-origin: 50% 0;
    -webkit-animation: rotateCubeOut .6s both ease-in;
    -moz-transform-origin: 50% 0;
    -moz-animation: rotateCubeOut .6s both ease-in;
    transform-origin: 50% 0;
    animation: rotateCubeOut .6s both ease-in;
}
@-webkit-keyframes rotateCubeOut {
    50% {-webkit-animation-timing-function: ease-out;-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);  }
    100% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
}
@-moz-keyframes rotateCubeOut {
    50% { -moz-animation-timing-function: ease-out;-moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);  }
    100% { opacity: .3;-moz-transform: translateY(100%) rotateX(-90deg); }
}
@keyframes rotateCubeOut {
    50% {animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
    100% { opacity: .3; transform: translateY(100%) rotateX(-90deg);}
}


/* Formatting for modal content */


.left-side, .right-side{
  width:200px;
  /*border:1px solid black;*/
  float:left;
}

.left-side{
  width:150px;
}
.right-side{
  width:300px;
  line-height:1.5;
  padding-top:10px;
}

p.numbering{
  position:relative;
  font-weight:bold;
  color: #d623fe;
  font-size:12px;
}
 
body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, iframe, label, input, textarea,
span, article, footer, time, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
}

ul {
 list-style: none;
}

img {
 display: block;
 /*width: 100%f;*/
 height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

 -webkit-appearance: none;
 -moz-appearance: none;
}

button,
input[type="submit"] {
 cursor: pointer;
}

/* Clearfix */

.cf:after {
 content: "";
 display: block;
 clear: both;
}

h4{
	font-size:24px;
	color:#4b826e;
}
h3{
	font-size:32px;
	color:#4b826e;
}

h2{
	font-size:40px;
	color:#4b826e;
}

p{
	color:white;
}


.search-bar{
	letter-spacing:1px;
	/*margin: 30px 0px 0px 20px;*/
	padding: 6px 5px;
	width:20%;
	transition: all 0.2s ease 0s;
	border-top: 0px solid white;
	border-left: 0px solid white;
	border-right: 0px solid white;
	border-bottom: 2px solid white;
	position:fixed;
}

.search-bar::-webkit-input-placeholder {
    color:#aba9bc;
  }

.search-bar::-moz-placeholder { /* Firefox 19+ */
  color:#aba9bc;
}

.search-bar::-ms-input-placeholder { /* IE 10+ */
  color:#aba9bc;
}

.search-bar::-moz-placeholder { /* Firefox 18- */
  color:#aba9bc;
}


.search-bar:focus{
	width:30%;
}

input.search-bar{
	background:white;
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:14px;
	margin-left:110px;
	margin-top:15px;
	border-radius:20px;
	padding: 10px 35px;
	height:20px;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
/**/

.no-tracktlists{
	height:300px;
	padding:20px;
	width:700px;
}


.no-tracktlists h2{
	text-align:center;
	font-weight:500 !important;
	color: #55587a;
	font-size:24px;
	position:relative;
}


.thumbprint{
	height:100px;
	width:auto;
	margin-left:7em;
	position:absolute;
}

.query-name{
	font-size:28px;
	color: #9191C4;
}

.clear-button{
	height:20px;
	opacity:0.2;
	margin-left:125px;
	margin-top:20px;
	font-size:24px;
	position:absolute;
	cursor:pointer;
	transition: all 0.2s ease 0s;
}

.clear-button:hover{
	opacity:0.4;
}

.session-form{
	color:#77AF9C;
	position: relative;
	padding:0px 0px 20px 50px;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.session-form-header{
  font-size:24px;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
  color:#7e3bf9 !important;
  margin:50px 0px 50px 60px;
}

.splash-button.demo{
  color: white;
  background:#d623fe;
   animation: hover 0.8s infinite;
  animation-iteration-count: 3;
}

.submit{
  border: 2px solid #ce25fc;
  width:90%;
  color:white;
  text-align:center;
  display:inline-block;
  border-radius: 4px;
  font-size:20px;
  padding:2px 15px;
  transition: all 0.2s ease 0s;
  border:2px solid #ce25fc;
  color: #ce25fc;
  transition: all 0.2s ease 0s;
}

.submit:hover{
  color: white;
  border: 2px solid #ce25fc;
  background: #ce25fc;
}

.disabled-submit{
  background:gray;
  cursor:not-allowed;
}

.modal-image{
  height:80px;
  width:auto;
  position:relative;
  display:inline-block;
}


.fullscreen-sidebar{
  margin-top:36px;
}
.create-modal-button{
  animation: hovery 0.8s infinite;
  animation-iteration-count: 3;
  width:100%;
  margin:0px;
}


.sidebar-button{
  width:200px;
  height:30px;
  font-weight:600;
  /*border-bottom:4px solid white;*/
  color:#6a3afc;
  padding:0.5em;
  align-contents:center;
  text-align:center;
  display:inline-block;
  /*border-radius: 4px;*/
  font-size:20px;
  float:left;
  border-radius:5px;
  margin:60px 0px 10px 40px;
  transition: all 0.2s ease 0s;
}

.sidebar-button:hover{
  background:#dcdced;
  cursor:pointer;
}

.active-button-side{
  font-weight:bold;
	color: #d623fe;
	background: #dcdced;
}

.hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.flipLeftOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipLeftOut .5s both ease-in;
    -moz-animation: flipLeftOut .5s both ease-in;
    animation: flipLeftOut .5s both ease-in;
}

@-webkit-keyframes flipLeftOut {
    to {-webkit-transform: translateZ(1000px) rotateY(-90deg); opacity: 0;}
}
@keyframes flipLeftOut {
    to {transform: translateZ(1000px) rotateY(-90deg); opacity: 0;}
}

.text-blurb{
  display:inline-block;
  padding:10px 7px 2px 7px;
  border-radius:7px;
  height:20px;
  color: #7777ad;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  position:absolute;
  z-index:3000;
  background: white;
  top:300px;
}

.text-blurb-2{
  display:inline-block;
  padding:10px 7px 2px 7px;
  border-radius:7px;
  height:20px;
  color: rgb(126, 93, 237);
  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  position:absolute;
  z-index:3000;
  background: white;
  top:65px;
  left:250px;
}

.triangle{
  margin-left:50px;
  width: 0;
  bottom:30px;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: white transparent transparent transparent;
}

.triangle-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}

.logout-button{
  transition: all 0.2s ease 0s;
  border-radius:5px;
  color:#6a3afc;
  display:inline-block;
  font-size:15px;
  float:left;
  padding:4px 4px;
  font-weight:600;
  margin:25px 30px 5px -4px;
}

.logout-button:after{
    content: "";
  width: 0;
  margin-top:5px;
  height: 3px;
  background: #6a3afc;
  display: block;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logout-button:hover{
  background: #dcdced;
}

.logout-button:hover::after {
  -webkit-animation: bar 0.2s linear;
  animation: bar 0.2s linear;
  width:100%;
  }


  @-webkit-keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


/* Splash page CSS only */

/* Wordmark */


.headphones-pic{
  margin-bottom:15em;
  padding:2em 2em 4em 6em;
  width:11%;  
  height:auto;
}

.image-block-2{
  width:15%;
  height:auto;
  margin:2em auto;
}

.purp-text{
  color: #6a3afc !important;
  font-size:1.0em;
}

.h3{
  font-size: 1.3em;
  margin:0.5em 0em;
}
.splash-block-1{
  padding:2em;
  display: flex;
  flex-direction: row;
  height:380px;
  background: white;
  z-index:100;
  margin-top:50px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.splash-block-2{
  padding:2em;
  z-index:103;
  display:flex;
  height:600px;
  background:#7e3bf9;
  flex-directon:row;
}
.splash-header-2,.splash-header{
  font-family: 'Montserrat', sans-serif;
  color:#6a3afc;
  font-size:1.7em;
  margin-top:0em;
  padding-top:0em;
  font-weight:600;
  margin-bottom:1em;
}
.splash-header-2{
  color:#fff !important;
}

.splash-text-2, .splash-text{
  width:45% !important;
  position:relative;
  padding: 1% 2% 0% 6%;
  margin: 4% 1%;
  height:50px;
  font-weight:500;
  color:white;
  float:left;
}

.splash-text-2{
  width:26% !important;
  text-align:center;
}

.top{
  width:30%;
}
.gradient-div{
  display:block;
  width:100%;
  height:268px;
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 150% 150%;
  -webkit-animation: GradientAnimation 8s ease infinite;
  -moz-animation: GradientAnimation 8s ease infinite;
  animation: GradientAnimation 8s ease infinite;
}

.whole-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0%;
  right:0%;
}

.intro-section{
  display:block;
  height:300px;
  position:relative;
  background: #f6f9fc;
  z-index:200;
 margin-top:50px;
  top:0;
}

.splash-background{
  width:100vw;
  min-height:100%;
  position: relative;
  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(128deg, #da22ff, #9733ee, #4ab4eb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  bottom:0;
  background-size: 120% 120%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}
  
    
    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.tagline{
  color: white;
  font-size:2.5em;
  display:inline-block;
  white-space: nowrap;
  z-index:33;
  font-weight:600;
}

.tracktive-wordmark-main{
   -webkit-animation: wordmark 7s ease infinite;
  -moz-animation: wordmark 7s ease infinite;
  animation: wordmark 7s ease infinite;
  font-size: 8em;
  cursor: pointer;
  -webkit-touch-callout: none;  /*iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox 
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not sup8ported by any browser */
  display:inline-block;
  color: white; 
  font-weight: 600;
      text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px;
  padding-top:50px;
}


  @-webkit-keyframes wordmark {
    0%, 100%{
         text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
    }
    25%, 75%{
          text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,

    }
    50%{
          text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,
  rgb(86, 54, 175) 8px 8px,
  rgb(86, 54, 175) 9px 9px,
  rgb(86, 54, 175) 10px 10px;

    }
  }
  @-moz-keyframes wordmark {
    0%, 100%{
         text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
    }
    25%, 75%{
          text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,

    }
    50%{
          text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,
  rgb(86, 54, 175) 8px 8px,
  rgb(86, 54, 175) 9px 9px,
  rgb(86, 54, 175) 10px 10px;

    }
  }

  @keyframes wordmark { 
    0%, 100%{
         text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
    }
    25%, 75%{
          text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,

    }
    50%{
          text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px,
  rgba(123, 155, 242, 0.3) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px,
  rgb(86, 54, 175) 8px 8px,
  rgb(86, 54, 175) 9px 9px,
  rgb(86, 54, 175) 10px 10px;

    }
  }
.tracktive-wordmark{
	font-size: 60px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  display:inline-block;
  float:left;
  color: white;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px;
  font-weight: bold;
  margin:40px 0px 0px 20px;
}

/* Session Form */


.splash-buttons{
  display:inline-block;
  margin-top:80px;
  line-height:0.8;
  white-space: nowrap;
  z-index:33;
  }


.splash-button{
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  background: white;
  width:80px;
  color:#7e3bf9;
  text-align:center;
  display:inline-block;
  border-radius: 3px;
  font-size:1.1em;
  padding:10px 30px;
  margin: 0 15px;
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  transition: all 50ms ease-in;}

.splash-button:hover{
  filter:brightness(90%);
}



.active-button{
  background:rgb(84, 82, 82);
  color: white;
  box-shadow: 
  rgb(84, 82, 82) 0px 0px;
}



.greeting-container{
  width:100%;
}

.fist-bump{
    height:100px;
    margin-top:-50px;
    margin-left:150px;
    width:auto;
    position:relative;
    z-index:-1;
  }

  .hand-wave{
    height:100px;
    width:auto;
    margin-top:-50px;
    margin-left:50px;
    position:relative;
    z-index:-1;
  }
.form{
	display:block;
}



.create-header{
	width:80%;
}

.create-banner-text{
  font-family: 'Montserrat', sans-serif;
	float:left;
	font-size:40px;
	margin-top:0px;
	font-weight:600;
	color: #6a3af9191c4c;
	width:100%;
	left:0;
	right:0;
	padding:20px 0px;
}
  
  
 @-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes AnimationName { 
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

    @-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h3.create{
  font-family: 'Montserrat', sans-serif;
	position:relative;
	font-weight:500;
	font-size:18px;
	line-height:0.9;
	padding:2px;
	display:inline-block;
	color: #6a3afc;
}

.purple{
	color:#5636af;
}

.pink{
	color:#ce25fc;
}

.modal-form{
	padding:0px;
}


.tracktlist-form{
	margin:0px auto;
	width:80%;
	overflow:hidden;
	height:440px;
	padding:15px;
	z-index:-3;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.create-form{
	display:block;
	position:relative;
}

/* Flask logo */
.flask-logo{
	display:inline-block;
	height:50px;
	width:auto;
	margin-left:10px;
}


.cancel-button{
	display:inline-block;
	position:relative;
	margin-top:30px;
	z-index:1000;
}

.standard-input-field2::-webkit-input-placeholder {
    color:#aba9bc;
    font-weight:500;
    margin:0 auto;
  }

.standard-input-field2::-moz-placeholder { /* Firefox 19+ */
  color:#aba9bc;
    font-weight:500;
  margin:0 auto;
}

.standard-input-field2::-ms-input-placeholder { /* IE 10+ */
  color:#aba9bc;
    font-weight:500;
  margin:0 auto;
}

.standard-input-field2::-moz-placeholder { /* Firefox 18- */
	color:#aba9bc;
	font-weight:500;
	margin:0 auto;
}


.standard-input-field2{
	position:relative;
	letter-spacing:1px;
	color: #464747;
	font-size:18px;
	/*border:1px solid #5B3DA8;*/
	/*margin: 3px 0px;*/
	/*border-radius:5px;*/
	padding: 5px 5px;
	width:80%;
	transition: all 0.2s ease 0s;
  border-bottom: 3px solid #ededef;
  /*box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;*/
  transition: all 0.2s ease 0s;
}


.standard-input-field2:focus{
   background: #ededef;
}



 .submit, .create-button{
 	  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  font-family: 'Montserrat', sans-serif;
 	margin-top:40px;
 	width:60%;
  background: #9191c4;
 	color: rgb(126, 93, 237);
	border: 2px solid #9191c4;
  padding:6px 15px;
	border-radius:5px;
  color: white;
}

.submit:hover, .create-button:hover{
	border: 2px solid #6a3afc;
	background: #6a3afc;
}

/* ELements related to the Tracktlist detail page */



.info-box{
	float:left;
	color: #FBFBFB;
	word-spacing:6px;
	width:60%;
}

.author-label, .artists-label{
	font-size:16px;
	font-weight:900;
	color: #fbfbfc;
	margin-right:15px;
}

.mix-image{
	background-position: center center;
	height:150px;
	width:auto;
	z-index:500;
}

.mix-image:hover{
	width:auto;
	height:280px;
	transform:translate(-40px, -40px);
}

.mix-image-container{
	width:150px;
	height:150px;
	overflow:hidden;
	float:left;
	margin-right:50px;
	margin-bottom:50px;
	transition: all 0.5s ease 0s;
	display:inline-block;
	/*border-radius:20px;*/
}

.mix-image-container:hover{
	/*transform:translate(-40px, -40px);*/
	width:280px;
	height:280px;
}

.tracktlist-detail{
	margin-top:100px;
	min-height:500px;
	display:flex;
	flex-direction:column;
	color:#88898c;
		/*box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.58);*/
	/*border: 1px solid #808080;  */
}

.brighter-link{
	color:#d759f9;
}

.tracktlist-info{
	display:block;
	transition: all 0.4s ease 0s;
  background: linear-gradient(237deg, #686d6c, #252626);
  -webkit-animation: GradientAnimation 50s ease infinite;
  -moz-animation: GradientAnimation 50s ease infinite;
  animation: GradientAnimation 50s ease infinite;
	width:100%;
	padding:40px;
	height:180px;
}

.left-side-player{
	margin:50px 0px 0px 350px;
	position:absolute;
}


.playlist-title{
	opacity:0.9;
  width:500px;
  display:block;
  position:relative;
	color:#eaeaf2;
	line-height: 33px;
	font-size: 48px;
	font-weight:900;
	margin-bottom:30px;
}


body.ab-control.trackset.view-list.white.mode-large{
		font-family: ProximaNovaA-Regular;
}


.brighter{
	color:#d759f9;
	font-weight:bold;
	margin: 0px 3px;
	cursor:pointer;
}

.brighter:hover{
	border-bottom:3px solid #d759f9;
}

.iframe-trap{
	float:left;
}

.iframe-container{
	display:block;
	/*background:#ede8e8;*/
	width:100%;
	left:0;
	height:500px;
	border-top: 1px solid #bfbfbf;
	/*margin:-15px 10px;*/
}

iframe.player-frame{
	border: 0px solid white;
	display:block;
	/*width:720px;*/
	/*height:400px;*/
	margin-top:10px;
	float:left;
}

iframe {
	width:380px; /* just for testing */
	position:relative;
	opacity:0.85;
	height:380px;
	float:left;
}

.play-info-container{
	float:left;
	position:relative;
	display:block;
	margin-left:20px;
	width:50%;
	height:auto;
}

.play-info-container h3{
  color: #626665;
	font-size:32px;
	margin-bottom:0px;
	font-weight:bold;
/*  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;*/
  margin-top:10px;
}

.info-subtitle{
	display:block;
	margin:20px 0px;
	font-size:20px;
	padding:5px 15px;
	border-radius:20px;
}

.play-info-container li{
	color: #444343;
}

.optionOne{
	color: #444343;
	border:2px solid #444343;
	box-shadow:
	rgba(89, 88, 88, 0.5) 1px 1px,
	rgba(89, 88, 88, 0.4) 2px 2px,
	rgba(89, 88, 88, 0.3) 3px 3px;
}

.otherOption{
	color: rgb(126, 93, 237);
	border: 2px solid rgb(126, 93, 237);
	box-shadow:
  rgba(123, 155, 242, 0.5) 1px 1px,
  rgba(123, 155, 242, 0.4) 2px 2px,
  rgba(123, 155, 242, 0.3) 3px 3px;
}


.credentials{
	margin-top:-10px;
  line-height: 18px;
  font-size:16px;
  height:auto;
  color: rgb(126, 93, 237);
  text-shadow:
  rgba(123, 155, 242, 0.3) 1px 1px;
}

/* This is for the user detail page */

/*
.user-detail{
	display:block;
	position:relative;
}*/



.user-detail-header{
  float:left;
  font-size:6vmax;
  text-align:center;
  margin-top:0px;
  margin-bottom:40px;
  font-weight:bold;
  color: white;
  width:100%;
  left:0;
  right:0;
  padding-bottom:40px;
  padding-top:40px;
  background: #d623fe;
  text-shadow:
  rgb(107, 90, 147) 1px 1px,
  rgb(107, 90, 147) 2px 2px,
  rgb(107, 90, 147) 3px 3px,
  rgb(86, 53, 174) 4px 4px, 
  rgb(86, 54, 175) 5px 5px,
  rgb(86, 54, 175) 6px 6px,
  rgb(86, 54, 175) 7px 7px; 
  font-weight: bold;
}

.user-header{
	font-size:25px;
	left:30%;
}


.like-icon{
	width:auto;
	height:40px;
	margin:10px 0px 0px 5px;
	display:inline-block;
}

.userpage-buttons{
  display:flex;
  flex-direction: row;
  width:100%;
  height:280px;
  display:block;
  position:relative;
  margin:0 auto;
  bottom:108px;
}


.user-button{
  opacity:0.4;
  width:43%;
  font-weight:bold;
  color:#6a3afc;
  text-align:center;
  display:inline-block;
  font-size:1.3em;
  padding:10px 10px;
  margin:20px 0px 5px 0px;
  transition: all 0.3s ease 0s;
}

.user-button:hover{
  opacity:1.0;
}

.profile-greeting-container{
  display:flex;
  flex-direction: row;
  width:600px;
  height:270px;
  display:block;
  position:relative;
  margin:0 auto;
  bottom:20px;
}

h2.profile-greeting {
  color: #55587a;
  opacity:0.7;
  font-size:24px;
  line-height:0.8;
  font-weight:bold;
  /*text-align:center;*/
  margin-left:0px;
  z-index:-2;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


/**
 * @license
 * MyFonts Webfont Build ID 3318813, 2016-12-08T19:03:58-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ProximaNovaA-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-bold/
 * 
 * Webfont: ProximaNovaS-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-bold/
 * 
 * Webfont: ProximaNovaA-BoldIt by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-bold-it/
 * 
 * Webfont: ProximaNova-Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 * 
 * Webfont: ProximaNovaS-BoldIt by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-bold-it/
 * 
 * Webfont: ProximaNova-BoldIt by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold-it/
 * 
 * Webfont: ProximaNovaA-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-regular/
 * 
 * Webfont: ProximaNovaS-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-regular/
 * 
 * Webfont: ProximaNovaA-RegularIt by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-regular-it/
 * 
 * Webfont: ProximaNova-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 * 
 * Webfont: ProximaNovaS-RegularIt by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-regular-it/
 * 
 * Webfont: ProximaNova-RegularIt by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular-it/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3318813
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */



html {
    height: 100vh;
}


body {
  overflow-x:hidden;
font-family: 'Raleway', sans-serif;	/* IE10+ */ 
   -webkit-font-smoothing: subpixel-antialiased;
   
	background:#f6f9fc;
	min-height:100vh;
	/*padding-top: 175px;*/
}

html, body {
    min-height: 100% !important;
    height: 100%;
}

/* SPINNER */

.loader-logo {
  top:50%;
  left:40%;
  position:absolute;
  height:100px;
  width:auto;
  animation: loading 1s infinite;
}


@keyframes loading {
  0%, 100% {
    transform: scale(1);
    opacity:0.6;
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1.1);
    opacity:1;
    animation-timing-function: ease-in;
  }
}
/* Buttons */

.standard-button{
	opacity:0.8;
	color:white;
	border: 2px solid white;
	display:inline-block;
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:32px 50px 5px 8px;
}

.standard-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}


.standard-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
  text-align:center;
	font-size:14px;
	margin: 2px 55px;
	padding: 10px 13px;
	width:300px;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #ededef;
  /*box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;*/
  transition: all 0.2s ease 0s;
}


.standard-input-field:focus{
   background: #ededef;
}

input:focus::-webkit-input-placeholder{
  opacity:0.2;
}


::-webkit-input-placeholder {
   color: #5636af;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5636af;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5636af;  
}

:-ms-input-placeholder {  
   color: #5636af;  
}

.question{
	color: #ce25fc;
  margin:0px 100px;
}

label {
	font-size:16px;
	color: #6f3e91;
}

/* Links and errors*/

.submit{
	margin:30px 0px 20px 60px;
	text-align:center;
	width:300px;
}
.link{
	color:#d623fe;
	margin: 0px 3px;
	cursor:pointer;
}

.link:hover{
	border-bottom:3px solid #d623fe;
}

.about-link{
  z-index:100;
  /*z-index:50;*/
	font-weight:bold;
	color:rgba(255,255,255,0.8);
	font-size:18px;
	position:fixed;
	margin-right:10px;
	/*margin-top:5%;*/
	top:16px;
	right:140px;
	cursor:pointer;
}

.about-link:hover{
	color:white;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px 3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px 1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7),
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      1px 1px 0 hsla(256, 53%, 45%, 0.7)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -1px 1px 0 hsla(256, 53%, 45%, 0.7),
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      1px -1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      1px 1px 0 hsla(257, 51%, 48%, 0.7),
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px 1px 0 hsla(257, 51%, 48%, 0.7);
  }  
}
}



.error{
	color: #545252;
	font-size:20px;
	position:absolute;
}

.greeting{
	position:fixed;
	color:white;
  font-weight:600;
	float:left;
	margin:65px 40px 5px 0px;
	font-size:16px;
}

li{
	color: #d623fe;
	}


  li.error{
      margin: 10px 60px;
      animation-name: slideIn;
      animation-duration: 0.2s;
  }

.cancel-button{
	position: relative;
	left:40%;
	z-index:-3;
}

.header-bar{
		/* IE10+ */ 
	height:150px;
	background-size: cover;
	/*background-position: center;*/
	/*border-bottom: 2px solid #545252;*/
	width:100%;
  color: #6a3afc;
	z-index:3;
	top: 0;
	left: 0;
	right: 0;
	position:fixed;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.48);
	transition: all 0.4s ease 0s;
  background: #b8b8db;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  bottom:0;
  background-size: 150% 150%;
}
  

.header-bar:hover{
	opacity:1;
}

.header-bar.search-bar:focus{
	opacity:1;
}

.loadery{
	font-size:30px;
}

