/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: ProximaNovaA-Regular;
	/* IE10+ */ 
	background:#F1EFF0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

/* Buttons */

.standard-button{
	/*border: 2px solid #6b5a93;*/
	opacity:0.8;
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 2px solid white;
	display:inline-block;
	border-radius: 10px;
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:32px 50px 5px 8px;
	/*box-shadow: 2px 2px 2px #330d9b;*/

		transition: all 0.2s ease 0s;
}

.standard-button:hover{
		/*border: 2px solid #3f827a;*/
		/*color:#3f827a;*/
	/*box-shadow: 2px 2px 2px #330d9b;*/
		color: rgb(95, 94, 102);

	background:white;
	opacity:1.0;
	box-shadow: 
    rgb(95, 94, 102) 1px 1px,
    rgb(95, 95, 104) 3px 3px,
    rgb(95, 96, 106) 4px 4px,
    rgb(95, 97, 108) 5px 5px,
    rgb(95, 98, 110) 6px 6px;
}

.logout-button{
	/*border: 2px solid #6b5a93;*/
	opacity:0.8;
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 2px solid white;
	display:fixed;
	border-radius: 10px;
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:80px 20px 5px 8px;
	/*box-shadow: 2px 2px 2px #330d9b;*/
	transition: all 0.2s ease 0s;
}

.logout-button:hover{
		/*border: 2px solid #3f827a;*/
		/*color:#3f827a;*/
	/*box-shadow: 2px 2px 2px #330d9b;*/
	border: 2px solid white;
	background: rgb(95, 94, 102);
	color:white;
	opacity:1.0;
/*	box-shadow: 
    rgb(250, 240, 240) 1px 1px,
    rgb(252, 242, 242) 3px 3px,
    rgb(253, 246, 246) 4px 4px,
    rgb(254, 248, 248) 5px 5px,
    rgb(255, 254, 254) 6px 6px;*/
}

button:hover{
	-webkit-filter:brightness(120%);
}

.logout{
	margin-right:10px;
}
/* Input fields */

.standard-input-field{
	color: #330d9b;
	letter-spacing:1px;
	font-size:20px;
	border: 1px solid #77AF9C;
	margin: 10px 5px;
	border-radius:8px;
	padding: 10px 13px;
	width:300px;
}

.standard-input-field:focus{
	border: 1px solid #330d9b;
}

label {
	font-size:20px;
}

/* Links and errors*/


.link{
	color:#5B3DA8;
	font-weight:bold;
}

.link:hover{
	text-decoration: underline;
}

div.about{
	width:200px;
	height:700px;
	display:block;
	position:fixed;
  margin:10px 0px 0px 40px;
}

.about-link{
	color:#5B3DA8;
	font-size:25px;
	position:relative;
	top:500px;
}

.about-link:hover{
	color: white;
  font-size:25px;
  animation: move linear 4000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -3px -3px 0 hsla(257, 51%, 48%, 1), 
      -4px -4px 0 hsla(257, 51%, 48%, 1), 
      -1px -1px 0 hsla(257, 51%, 48%, 1),
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      3px 3px 0 hsla(165, 75%, 30%, 1), 
      4px 4px 0 hsla(165, 75%, 30%, 1), 
      1px 1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -3px 3px 0 hsla(165, 75%, 30%, 1), 
      -4px 4px 0 hsla(165, 75%, 30%, 1), 
      -1px 1px 0 hsla(165, 75%, 30%, 1),
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      3px -3px 0 hsla(257, 51%, 48%, 1), 
      4px -4px 0 hsla(257, 51%, 48%, 1), 
      1px -1px 0 hsla(257, 51%, 48%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      3px 3px 0 hsla(257, 51%, 48%, 1), 
      4px 4px 0 hsla(257, 51%, 48%, 1), 
      1px 1px 0 hsla(257, 51%, 48%, 1),
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -3px -3px 0 hsla(165, 75%, 30%, 1), 
      -4px -4px 0 hsla(165, 75%, 30%, 1), 
      -1px -1px 0 hsla(165, 75%, 30%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      3px -3px 0 hsla(165, 75%, 30%, 1), 
      4px -4px 0 hsla(165, 75%, 30%, 1), 
      1px -1px 0 hsla(165, 75%, 30%, 1),
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -3px 3px 0 hsla(257, 51%, 48%, 1), 
      -4px 4px 0 hsla(257, 51%, 48%, 1), 
      -1px 1px 0 hsla(257, 51%, 48%, 1);
  }  
}

.error{
	color: #56445D;
	list-style:circle;
	margin-left:20px;
	margin-bottom:20px;
	font-size:20px;
}

.greeting{
	display:fixed;
	color:white;
	float:right;
	margin:80px 20px 5px 15px;
	font-size:20px;
}

.cancel-button{
	position: relative;
	left:40%;
}

.header-bar{
	background-image: -ms-linear-gradient(bottom left, #9175AD 0%, #89D4A3 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom left, #9175AD 0%, #89D4A3 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(bottom left, #9175AD 0%, #89D4A3 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #9175AD), color-stop(100, #89D4A3));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom left, #9175AD 0%, #89D4A3 100%);
	/* W3C Markup */ 
	background-image: linear-gradient(to top right, #9175AD 0%, #89D4A3 100%);
	height:150px;
	border-bottom: 2px solid #5B3DA8;
	width:100%;
	/*display:flex;*/
	display:block;
/*	position:b;*/
	/*flex-direction: row;*/
	top: 0;
	left: 0;
	overflow:hidden;
	right: 0;
	display:fixed;
}

