/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: ProximaNovaA-Regular;
	/* IE10+ */ 
	background:#f8f7f9;
	min-height:63vh;
	/*padding-top: 175px;*/
}

/* SPINNER */
.spinner {
  margin: 300px auto;
  width: 130px;
  height: 100px;
  text-align: center;
  font-size: 10px;
  z-index:500;
}

.spinner > div {
/* IE10+ */ 


  background: #DA22FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  background-repeat:no-repeat;
  min-height: 100%;
  height: 100%;
  width: 15px;
  margin: 0px 3px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	border:;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* Buttons */

.standard-button{
	/*border: 2px solid #6b5a93;*/
	opacity:0.8;
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 3px solid white;
	display:inline-block;
	/*border-radius: 10px;*/
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:32px 50px 5px 8px;
}

.standard-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}

.logout-button{
	/*border: 2px solid #6b5a93;*/
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 3px solid white;
	display:inline-block;
	border-radius: 3px;
	font-size:15px;
	float:right;
	padding:2px 10px;
	margin:15px 15px 5px 8px;
  transition: all 0.2s ease 0s;
}

.logout-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}

/*button:hover{
	-webkit-filter:brightness(120%);
}*/

.logout{
	margin-right:10px;
}
/* Input fields */

.standard-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:16px;
	/*border:1px solid #5B3DA8;*/
	margin: 10px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:80%;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.question{
	color: #ce25fc;
}

label {
	font-size:20px;
	color: #6f3e91;
}

/* Links and errors*/

.submit{
	margin:20px 5px;
	text-align:center;
	width:75%;
}
.link{
	color:#361575;
	font-weight:bold;
	margin: 0px 3px;
	cursor:pointer;
}

.link:hover{
	text-decoration: underline;
}



.about-link{
  z-index:100;
  /*z-index:50;*/
	font-weight:bold;
	color:rgba(255,255,255,0.8);
	font-size:18px;
	position:fixed;
	margin-right:10px;
	/*margin-top:5%;*/
	top:16px;
	right:140px;
	cursor:pointer;
}

.about-link:hover{
	color:white;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px 3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px 4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px 1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7),
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      1px 1px 0 hsla(256, 53%, 45%, 0.7)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -3px 3px 0 hsla(256, 53%, 45%, 0.7), 
      -4px 4px 0 hsla(256, 53%, 45%, 0.7), 
      -1px 1px 0 hsla(256, 53%, 45%, 0.7),
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      1px -1px 0 hsla(287, 97%, 57%, 0.7)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      1px 1px 0 hsla(257, 51%, 48%, 0.7),
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -3px -3px 0 hsla(287, 97%, 57%, 0.7), 
      -4px -4px 0 hsla(287, 97%, 57%, 0.7), 
      -1px -1px 0 hsla(287, 97%, 57%, 0.7)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      3px -3px 0 hsla(256, 53%, 45%, 0.7), 
      4px -4px 0 hsla(256, 53%, 45%, 0.7), 
      1px -1px 0 hsla(256, 53%, 45%, 0.7),
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px 1px 0 hsla(257, 51%, 48%, 0.7);
  }  
}
}


/*.about-modal{
	width:600px;
	padding:30px;
	background:white;
	border-radius:10px;
	z-index:99999;
	position:fixed;
	top:5%;
	left:25%;
}*/

.error{
	color: #545252;
/*	list-style:circle;
	margin-left:30px;
	margin-bottom:20px;*/
	font-size:20px;
	position:absolute;
}

.greeting{
	position:fixed;
	color:white;
	float:right;
	margin:25px 20px 5px 25px;
	font-size:20px;
}

li{
	color: #d623fe;
/*	padding-left:10px;
	margin-left:20px;*/
	}

.cancel-button{
	position: relative;
	left:40%;
	z-index:-3;
}

.header-bar{
		/* IE10+ */ 
	height:180px;
	background: #DA22FF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #DA22FF , #9733EE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #DA22FF , #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	/*background-position: center;*/
	/*border-bottom: 2px solid #545252;*/
	width:100%;
	/*	opacity:0.8;
	*/	z-index:3;
	/*display:flex;*/
	/*display:block;*/
	/*	position:b;*/
	/*flex-direction: row;*/
	top: 0;
	left: 0;
	right: 0;
	position:fixed;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.48);
	transition: all 0.4s ease 0s;
	}

.header-bar:hover{
	opacity:1;
}

.header-bar.search-bar:focus{
	opacity:1;
}

.loadery{
	font-size:30px;
}


/* MODAL MAGIC */

