/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: ProximaNovaA-Regular;
	/* IE10+ */ 
	background:#f8f7f9;
	min-height:1000px;
	padding-top: 175px;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* Buttons */

.standard-button{
	/*border: 2px solid #6b5a93;*/
	opacity:0.8;
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 3px solid white;
	display:inline-block;
	/*border-radius: 10px;*/
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:32px 50px 5px 8px;
}

.standard-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}

.logout-button{
	/*border: 2px solid #6b5a93;*/
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 3px solid white;
	display:fixed;
	border-radius: 3px;
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:15px 15px 5px 8px;
}

.logout-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}

/*button:hover{
	-webkit-filter:brightness(120%);
}*/

.logout{
	margin-right:10px;
}
/* Input fields */

.standard-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:16px;
	/*border:1px solid #5B3DA8;*/
	margin: 10px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:80%;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}


label {
	font-size:20px;
}

/* Links and errors*/

.submit{
	margin:20px 5px;
	text-align:center;
	width:75%;
}
.link{
	color:#5B3DA8;
	font-weight:bold;
	margin: 0px 3px;
	cursor:pointer;
}

.link:hover{
	text-decoration: underline;
}

div.about{
	width:100px;
	height:100px;
	display:inline-block;
	position:fixed;
	bottom:0%;
	left:5%;
  /*margin:10px 0px 0px 40px;*/
}

.about-link{
  z-index:100;
  /*z-index:50;*/
	font-weight:bold;
	color:#3b3b3d;
	font-size:20px;
	position:relative;
	top:0px;
	left:10px;
	cursor:pointer;
}


/*.about-modal{
	width:600px;
	padding:30px;
	background:white;
	border-radius:10px;
	z-index:99999;
	position:fixed;
	top:5%;
	left:25%;
}*/

.error{
	color: #56445D;
	list-style:circle;
	margin-left:20px;
	margin-bottom:20px;
	font-size:20px;
}

.greeting{
	position:fixed;
	color:white;
	float:right;
	margin:25px 20px 5px 25px;
	font-size:20px;
}

.cancel-button{
	position: relative;
	left:40%;
	z-index:-3;
}

.header-bar{
		/* IE10+ */ 
	background-image: -ms-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #ABFFCA), color-stop(100, #B28AF7));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom left, #ABFFCA 0%, #B28AF7 100%);
	height:140px;
	border-bottom: 2px solid #545252;
	width:100%;
	z-index:3;
	/*display:flex;*/
	/*display:block;*/
/*	position:b;*/
	/*flex-direction: row;*/
	top: 0;
	left: 0;
	right: 0;
	position:fixed;
	box-shadow: 0.5px 0.5px 3px 0px rgba(0,0,0,0.48);
}


@import "compass/css3";

/*
* Infinite Loader 
*
* Author: Jonathan Silva
* Url: http://portfolio.jonathansilva.com.br
*
*/

/* ----- Base ----- */

$body-bg: #55c1FA;

/* ----- Loader ----- */

$loader-duration: 1.2s;
$loader-iteration-count: infinite;
$loader-direction: normal;

body{
  background-color: #d7fff1
}

.loader-wrapper{
  width:148px; 
  height: 100px;  
  position: absolute;
  margin: -50px 0 0 -74px;
  left: 50%;
  top: 60%;
}
.loader{
	width:148px; 
  height: 100px; 
  top: 0;
  left: 0;
  position: absolute;
  
  &:after{
    content: "";
    top: auto;
    position: absolute;
    display: block;
    animation: shadow $loader-duration $loader-iteration-count linear;
    -moz-animation: shadow $loader-duration $loader-iteration-count linear;
    bottom: 0em;
    left: 0;
    height: .25em;
    width: 1em;
    border-radius: 50%;
    background-color: darken($body-bg, 45%);
    opacity: 0.3;
  }
}
.roller,
.roller:last-child{
	width: 70px; 
  height: 70px; 
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: rollercoaster $loader-duration $loader-iteration-count linear;
  -webkit-transform: rotate(135deg);
  -moz-animation: rollercoaster $loader-duration $loader-iteration-count linear;
  -moz-transform: rotate(135deg);
  animation: rollercoaster $loader-duration $loader-iteration-count linear;
  transform: rotate(135deg);
}
.roller:last-child{
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
  -moz-transform: rotate(-45deg);
  -moz-animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
  transform: rotate(-45deg);
  animation: rollercoaster2 $loader-duration $loader-iteration-count linear;
}
.roller:before,
.roller:last-child:before{
	content:""; 
  display:block;
  width: 15px;
  height: 15px;
  background: #77AF9C;
  border-radius: 50%;
}

@-webkit-keyframes rollercoaster {
  
  0%   { 
    -webkit-transform: rotate(135deg);
  }
  8%  { 
  	-webkit-transform: rotate(240deg);
  }

  20%{
    -webkit-transform: rotate(300deg);
  }
  
  40%{
    -webkit-transform: rotate(380deg);
  }
  45%{
    -webkit-transform: rotate(440deg);
  }
  50%{
    -webkit-transform: rotate(495deg);
    opacity: 1;
  }
  50.1%{
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  100%{
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  
}

@-webkit-keyframes rollercoaster2 {
  0%{
    opacity: 0;
  }
  49.9%{
    opacity: 0;
  }
  50%   { 
    opacity:1;
    -webkit-transform: rotate(-45deg);
  }
  58%  { 
  	-webkit-transform: rotate(-160deg);
  }

  70%{
    -webkit-transform: rotate(-240deg);
  }
  
  80%{
    -webkit-transform: rotate(-300deg);
  }
  
  90%{
    -webkit-transform: rotate(-340deg);
  }
  
  100%{
    -webkit-transform: rotate(-405deg);
  }
  
}

@-webkit-keyframes shadow {
  
  0%   { 
    opacity:.3;
    -webkit-transform: translateX(65px) scale(0.5,0.5);
  }
  8%  { 
  	-webkit-transform: translateX(30px) scale(2,2);
  }

  13%{
    -webkit-transform: translateX(0px) scale(1.3,1.3);
  }
  
  30%{
    -webkit-transform: translateX(-15px) scale(0.5,0.5);
    opacity: 0.1;
  }
  50%{
    -webkit-transform: translateX(60px) scale(1.2,1.2);
    opacity: 0.3;
  }

  60%{
    -webkit-transform: translateX(130px) scale(2,2);
    opacity: 0.05;
  }
  65%{
    -webkit-transform: translateX(145px) scale(1.2,1.2);
  }
  80%{
    -webkit-transform: translateX(120px) scale(0.5,0.5);
    opacity: 0.1;
  }
  90%{
    -webkit-transform: translateX(80px) scale(0.8,0.8);
  }
  100%{
    -webkit-transform: translateX(60px);
    opacity: 0.3;
  }
  
}

/* Moz */

@-moz-keyframes rollercoaster {
  0%    { -moz-transform: rotate(135deg);}
  8%    { -moz-transform: rotate(240deg);}
  20%   { -moz-transform: rotate(300deg);}
  40%   { -moz-transform: rotate(380deg);}
  45%   { -moz-transform: rotate(440deg);}
  50%   { -moz-transform: rotate(495deg); opacity: 1;}
  50.1% { -moz-transform: rotate(495deg); opacity: 0;}
  100%  { -moz-transform: rotate(495deg); opacity: 0;}
}

@-moz-keyframes rollercoaster2 {
  0%    { opacity: 0;}
  49.9% { opacity: 0;}
  50%   { opacity:1; -moz-transform: rotate(-45deg);}
  58%   { -moz-transform: rotate(-160deg);}
  70%   { -moz-transform: rotate(-240deg);}
  80%   { -moz-transform: rotate(-300deg);}
  90%   { -moz-transform: rotate(-340deg);}
  100%  { -moz-transform: rotate(-405deg);}
}

@-moz-keyframes shadow {
  0%   { opacity:.3; -moz-transform: translateX(65px) scale(0.5,0.5);}
  8%   { -moz-transform: translateX(30px) scale(2,2);}
  13%  { -moz-transform: translateX(0px) scale(1.3,1.3);}
  30%  { -moz-transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  { -moz-transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  { -moz-transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  { -moz-transform: translateX(145px) scale(1.2,1.2);}
  80%  { -moz-transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  { -moz-transform: translateX(80px) scale(0.8,0.8);}
  100% { -moz-transform: translateX(60px); opacity: 0.3;}
}

/* No-prefix */
@keyframes rollercoaster {
  0%    { transform: rotate(135deg);}
  8%    { transform: rotate(240deg);}
  20%   { transform: rotate(300deg);}
  40%   { transform: rotate(380deg);}
  45%   { transform: rotate(440deg);}
  50%   { transform: rotate(495deg); opacity: 1;}
  50.1% { transform: rotate(495deg); opacity: 0;}
  100%  { transform: rotate(495deg); opacity: 0;}
}

@keyframes rollercoaster2 {
  0%    { opacity: 0;}
  49.9% { opacity: 0;}
  50%   { opacity:1; transform: rotate(-45deg);}
  58%   { transform: rotate(-160deg);}
  70%   { transform: rotate(-240deg);}
  80%   { transform: rotate(-300deg);}
  90%   { transform: rotate(-340deg);}
  100%  { transform: rotate(-405deg);}
}

@keyframes shadow {
  0%   { opacity:.3; transform: translateX(65px) scale(0.5,0.5);}
  8%   { transform: translateX(30px) scale(2,2);}
  13%  { transform: translateX(0px) scale(1.3,1.3);}
  30%  { transform: translateX(-15px) scale(0.5,0.5); opacity: 0.1;}
  50%  { transform: translateX(60px) scale(1.2,1.2); opacity: 0.3;}
  60%  { transform: translateX(130px) scale(2,2); opacity: 0.05;}
  65%  { transform: translateX(145px) scale(1.2,1.2);}
  80%  { transform: translateX(120px) scale(0.5,0.5); opacity: 0.1;}
  90%  { transform: translateX(80px) scale(0.8,0.8);}
  100% { transform: translateX(60px); opacity: 0.3;}
}


#loader2 {
  &:after{
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  
  .roller{
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
}

#loader3 {
  &:after{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .roller{
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
}
