/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: ProximaNovaA-Regular;
	/* IE10+ */ 
	background:#f8f7f9;
	min-height:63vh;
	padding-top: 175px;
}

/* SPINNER */
.spinner {
  margin: 100px auto;
  width: 130px;
  height: 100px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
/* IE10+ */ 
background-image: -ms-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B28AF7), color-stop(100, #AECADE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #B28AF7 0%, #AECADE 100%);

/* W3C Markup */ 
background-image: linear-gradient(to top, #B28AF7 0%, #AECADE 100%);
  background-repeat:no-repeat;
  min-height: 100%;
  height: 100%;
  width: 15px;
  margin: 0px 3px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* Buttons */

.standard-button{
	/*border: 2px solid #6b5a93;*/
	opacity:0.8;
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 3px solid white;
	display:inline-block;
	/*border-radius: 10px;*/
	font-size:14px;
	float:right;
	padding:4px 20px;
	margin:32px 50px 5px 8px;
}

.standard-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}

.logout-button{
	/*border: 2px solid #6b5a93;*/
	/*background:white;*/
	/*color: rgb(90, 87, 119);*/
	color:white;
	border: 3px solid white;
	display:inline-block;
	border-radius: 3px;
	font-size:1.5vmax;
	float:right;
	padding:4px 20px;
	margin:15px 15px 5px 8px;
  transition: all 0.2s ease 0s;
}

.logout-button:hover{
	color: rgba(86, 91, 107, 0.8);
	border: 3px solid rgba(86, 91, 107, 0.8);
}

/*button:hover{
	-webkit-filter:brightness(120%);
}*/

.logout{
	margin-right:10px;
}
/* Input fields */

.standard-input-field{
	letter-spacing:1px;
	color: #5B3DA8;
	font-size:16px;
	/*border:1px solid #5B3DA8;*/
	margin: 10px 5px;
	border-radius:5px;
	padding: 10px 13px;
	width:80%;
	transition: all 0.2s ease 0s;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}


label {
	font-size:20px;
}

/* Links and errors*/

.submit{
	margin:20px 5px;
	text-align:center;
	width:75%;
}
.link{
	color:#5B3DA8;
	font-weight:bold;
	margin: 0px 3px;
	cursor:pointer;
}

.link:hover{
	text-decoration: underline;
}



.about-link{
  z-index:100;
  /*z-index:50;*/
	font-weight:bold;
	color:rgba(255,255,255,0.8);
	font-size:2vmax;
	position:fixed;
	margin-left:10px;
	/*margin-top:5%;*/
	top:3.2vmax;
	left:10px;
	cursor:pointer;
}

.about-link:hover{
	color:white;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 0.7), 
      3px -3px 0 hsla(165, 75%, 30%, 0.7), 
      4px -4px 0 hsla(165, 75%, 30%, 0.7), 
      1px -1px 0 hsla(165, 75%, 30%, 0.7),
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px 1px 0 hsla(257, 51%, 48%, 0.7)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px -3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px -4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px -1px 0 hsla(257, 51%, 48%, 0.7),
      4px 4px 0 hsla(165, 75%, 30%, 0.7), 
      3px 3px 0 hsla(165, 75%, 30%, 0.7), 
      4px 4px 0 hsla(165, 75%, 30%, 0.7), 
      1px 1px 0 hsla(165, 75%, 30%, 0.7)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(165, 75%, 30%, 0.7), 
      -3px 3px 0 hsla(165, 75%, 30%, 0.7), 
      -4px 4px 0 hsla(165, 75%, 30%, 0.7), 
      -1px 1px 0 hsla(165, 75%, 30%, 0.7),
      4px -4px 0 hsla(257, 51%, 48%, 0.7), 
      3px -3px 0 hsla(257, 51%, 48%, 0.7), 
      4px -4px 0 hsla(257, 51%, 48%, 0.7), 
      1px -1px 0 hsla(257, 51%, 48%, 0.7)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      1px 1px 0 hsla(257, 51%, 48%, 0.7),
      -4px -4px 0 hsla(165, 75%, 30%, 0.7), 
      -3px -3px 0 hsla(165, 75%, 30%, 0.7), 
      -4px -4px 0 hsla(165, 75%, 30%, 0.7), 
      -1px -1px 0 hsla(165, 75%, 30%, 0.7)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(165, 75%, 30%, 0.7), 
      3px -3px 0 hsla(165, 75%, 30%, 0.7), 
      4px -4px 0 hsla(165, 75%, 30%, 0.7), 
      1px -1px 0 hsla(165, 75%, 30%, 0.7),
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -3px 3px 0 hsla(257, 51%, 48%, 0.7), 
      -4px 4px 0 hsla(257, 51%, 48%, 0.7), 
      -1px 1px 0 hsla(257, 51%, 48%, 0.7);
  }  
}
}


/*.about-modal{
	width:600px;
	padding:30px;
	background:white;
	border-radius:10px;
	z-index:99999;
	position:fixed;
	top:5%;
	left:25%;
}*/

.error{
	color: #56445D;
	list-style:circle;
	margin-left:20px;
	margin-bottom:20px;
	font-size:20px;
}

.greeting{
	position:fixed;
	color:white;
	float:right;
	margin:25px 20px 5px 25px;
	font-size:2vmax;
}

.cancel-button{
	position: relative;
	left:40%;
	z-index:-3;
}

.header-bar{
		/* IE10+ */ 
	background-image: -ms-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #ABFFCA), color-stop(100, #B28AF7));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top right, #ABFFCA 0%, #B28AF7 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom left, #ABFFCA 0%, #B28AF7 100%);
	height:18vmax;
	border-bottom: 2px solid #545252;
	width:100%;
	z-index:3;
	/*display:flex;*/
	/*display:block;*/
/*	position:b;*/
	/*flex-direction: row;*/
	top: 0;
	left: 0;
	right: 0;
	position:fixed;
	box-shadow: 0.5px 0.5px 3px 0px rgba(0,0,0,0.48);
}

.loadery{
	font-size:30px;
}


