<!DOCTYPE html>
<html>
<head>
  <title>tracktive - effortless playlists.</title>

  <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92669217-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End Google Analytics -->

<!-- <meta name="viewport" content="width=device-width" /> -->

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,900|Montserrat|Lobster|" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>



  <link rel="apple-touch-icon" sizes="57x57" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-57x57_lsugpj.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-60x60_vwqtk5.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-72x72_qtdvyv.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-76x76_qzgs39.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-114x114_rrvkpa.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-120x120_oyknj5.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://res.cloudinary.com/liuffy/image/upload/v1485819547/ms-icon-144x144_mrn6pd.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-152x152_znzwa1.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/liuffy/image/upload/v1485819546/apple-icon-180x180_twrrop.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://res.cloudinary.com/liuffy/image/upload/v1485819547/apple-icon-precomposed_pkgcmz.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/liuffy/image/upload/v1485819547/favicon-32x32_zhapem.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/liuffy/image/upload/v1485819545/android-icon-96x96_lj9uy8.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/liuffy/image/upload/v1485819547/favicon-16x16_ujzxoh.png">
<!-- <link rel="manifest" href="manifest.json"> -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://res.cloudinary.com/liuffy/image/upload/v1485819547/ms-icon-144x144_mrn6pd.png">
<meta name="theme-color" content="#ffffff">


 <!-- <link rel="stylesheet" type="text/css" href="MyFontsWebfontsKit.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
 </head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<body>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,800i,900" rel="stylesheet"> 

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<%= yield %>

</body>
</html>
